{% load i18n thumbnail cms_tags menu_tags %}



<article id="post-{{ post.slug }}" class="post-item">
    {% comment %}<header>
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        {% block blog_meta %}
            {% include "advisor/includes/meta.html" %}
        {% endblock %}
    </header>{% endcomment %}
    {% if image and post.main_image %}
    <div class="visual">
        {% thumbnail post.main_image 300x200 crop=post.thumbnail_options.crop upscale=post.thumbnail_options.upscale subject_location=post.main_image.subject_location as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}
    <div class="lead">
        <h1>{{ post.title|truncatechars:'30' }}</h1>
        <div class="text"><p>{% filter striptags|truncatechars:'160' %}
            {% if user_abstract %}
                {% render_model post 'abstract' '' '' '' %}
            {% else %}
                {% render_model post 'post_text' 'post_text' '' '' %}
            {% endif %}
        {% endfilter %}</p></div>
        <div class="read-more"><a href="{{ post.get_absolute_url }}" class="btn-link">Erfahren Sie mehr</a></div>
    </div>
{% comment %}
    <footer class="links">
        <ul>
        {% show_menu_below_id view.category.pk 1 4 1 1 'advisor/sub_topics_menu.html' %}
        {% if view.category %}
            {% show_sub_menu 1 view.category.menu_level 0 'advisor/sub_topics_menu.html' %}
        {% else %}
            {% show_menu 1 2 0 1 'advisor/sub_topics_menu.html' %}
        {% endif %}
        </ul>
    </footer>Ratgeber Eintrag Leistungsu
{% endcomment %}
</article>

