{% load cms_tags %}
<h1>{% if trunc_title %}{{ post.title|truncatechars:trunc_title }}{% else %}{{ post.title }}{% endif %}</h1>
<p class="text">{% filter striptags|truncatechars:trunc_text %}
    {% if user_abstract %}{% render_model post 'abstract' %}
    {% else %}{% render_model post 'post_text' 'post_text' %}{% endif %}
{% endfilter %}</p>
<p class="read-more"><a href="{{ post.get_absolute_url }}" class="btn-link">Erfahren Sie mehr</a></p>
