{% load i18n thumbnail staticfiles %}{% spaceless %}
    <aside class="plugin plugin-advisor">
        {% if main_article %}
            <article class="latest-entry">
                {% if main_article.image %}{% include '.include/main_image.html' with picture=main_article.image dimensions='480x320' %}{% endif %}
                <div class="lead">
                    {% include '.include/article_text_trunc.html' with article=main_article trunc_title=27 trunc_text=160 %}
                </div>
            </article>
        {% endif %}
        {% if other_articles %}
            <section class="latest-entries-other">
                {% for article in other_articles|slice:'0:3' %}
                    <article class="post-item">
                        {% if article.image %}{% include '.include/main_image.html' with picture=article.image dimensions='360x240' %}{% endif %}
                        <div class="lead">
                            {% include '.include/article_text_trunc.html' with trunc_title=27 trunc_text=160 %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        {% else %}
            <p class="blog-empty">{% trans "No article found." %}</p>
        {% endif %}
    </aside>
{% endspaceless %}
