{% for page in child_pages %}
<article class="post-detail">
    <h2>{{ page.title }}</h2>
    <p class="text">{% if page.text %}{{ page.text|striptags|truncatechars:200 }}{% endif %}</p>
    <p class="read-more"><a href="{{ page.url }}" style="margin: 22px 0 0;" class="btn-link">Erfahren Sie mehr</a></p></article>
{% endfor %}
{% comment %}
<pre style="font: 11px monospace; width: 620px; overflow: auto;">{% filter force_escape %}
    {% debug %}
{% endfilter %}</pre>
{% endcomment %}
