/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content .app .left-menu ul, .content .app .post-item {
  background: #fff;
}

.addition:empty {
  display: none;
  visibility: collapse;
}

.content {
  background: #ddd;
  padding: 20px 19px 60px;
}
.content .app .left-menu {
  margin-bottom: 19px;
}
.content .app .left-menu ul {
  font-size: 140%;
  line-height: 3.0714286;
  padding: 0;
}
.content .app .left-menu ul ul {
  font-size: 100%;
}
.content .app .left-menu li a {
  padding: 1px 19px;
  position: relative;
  display: block;
  color: #888;
  font-weight: 400;
  text-decoration: none;
}
.content .app .left-menu li a:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 17px;
  right: 19px;
  width: 18px;
  height: 10px;
  background: transparent url('/static/img/shevron_down.svg') no-repeat;
  background-size: 100%;
}
.content .app .left-menu li a:hover {
  color: #222;
}
.content .app .left-menu li > ul a {
  padding: 1px 31px;
  background: #f7f7f7;
}
.content .app .left-menu li > ul a:after {
  content: none;
  display: none;
}
.content .app .left-menu li.active > a, .content .app .left-menu li.ancestor > a {
  color: #333;
  font-weight: 700;
}
.content .app .left-menu li.active > a:after, .content .app .left-menu li.ancestor > a:after {
  background-image: url('/static/img/shevron_up.svg');
}
.content .app .left-menu li + li, .content .app .left-menu ul ul li {
  border-top: 1px solid #eee;
}
.content .app .post-item .visual {
  float: left;
  clear: left;
  margin-right: 24px;
}
.content .app .post-item .visual img {
  display: block;
}
.content .app .post-item .lead {
  padding: 24px;
}
.content .app .post-item .lead h1, .content .app .post-item .lead .text {
  margin-bottom: 18px;
}
.content .app .post-item .lead h1 {
  font-size: 180%;
  line-height: 1.3333333;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.content .app .post-item .lead .text {
  font-size: 120%;
  line-height: 1.5;
  font-weight: 300;
}
.content .app .post-item .lead .text p {
  max-height: 54px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.content .app .post-item .lead .read-more .btn-link {
  margin: 0;
  display: inline-block;
}
.content .app .addition {
  background: #fff;
  margin-top: 24px;
}

@media (max-width: 940px) {
  .content .app .left-menu {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .content .app .left-menu li {
    display: none;
    visibility: collapse;
  }
  .content .app .left-menu li.active {
    display: list-item;
    visibility: visible;
  }
  .content .app .left-menu.overmenu {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-width: 338px;
    left: 0;
    right: 0;
    margin-top: -65px;
  }
  .content .app .left-menu.overmenu > ul {
    margin: 0 19px;
    -moz-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.45);
  }
  .content .app .left-menu.overmenu li {
    display: list-item;
    visibility: visible;
  }
  .content .app .left-menu.overmenu + .post-detail {
    margin-top: 65px;
  }
}
@media (max-width: 340px) {
  .content .app .left-menu.overmenu {
    margin: 0 -19px;
  }
}
@media (min-width: 601px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 941px) {
  .content .app {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
  }
  .content .app > .left-menu {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 300px;
    margin-right: 20px;
  }
  .content .app > .blog-list {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  .content .app > .blog-list .post-item {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .content .app .addition {
    width: 620px;
  }
}

/*# sourceMappingURL=advisor.css.map */
