html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_300_normal.eot?1440507384');
  src: url('/static/css/fonts/merriweather_300_normal.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_300_normal.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_300_normal.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_300_normal.ttf?1440507384') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_300_italic.eot?1440507384');
  src: url('/static/css/fonts/merriweather_300_italic.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_300_italic.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_300_italic.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_300_italic.ttf?1440507384') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_400_normal.eot?1440507384');
  src: url('/static/css/fonts/merriweather_400_normal.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_400_normal.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_400_normal.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_400_normal.ttf?1440507384') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_400_italic.eot?1440507384');
  src: url('/static/css/fonts/merriweather_400_italic.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_400_italic.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_400_italic.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_400_italic.ttf?1440507384') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_700_normal.eot?1440508918');
  src: url('/static/css/fonts/merriweather_700_normal.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_700_normal.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_700_normal.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_700_normal.ttf?1440508918') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_700_italic.eot?1440508918');
  src: url('/static/css/fonts/merriweather_700_italic.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_700_italic.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_700_italic.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_700_italic.ttf?1440508918') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_900_normal.eot?1440508918');
  src: url('/static/css/fonts/merriweather_900_normal.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_900_normal.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_900_normal.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_900_normal.ttf?1440508918') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_900_italic.eot?1440508918');
  src: url('/static/css/fonts/merriweather_900_italic.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_900_italic.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_900_italic.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_900_italic.ttf?1440508918') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather-Sans";
  src: url('/static/css/fonts/merriweathersans_300_normal.eot?1440769998');
  src: url('/static/css/fonts/merriweathersans_300_normal.eot?&1440769998#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweathersans_300_normal.woff2?1440769998') format('woff2'), url('/static/css/fonts/merriweathersans_300_normal.woff?1440769998') format('woff'), url('/static/css/fonts/merriweathersans_300_normal.ttf?1440769998') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.win {
  background: #f4f4f4 url('/static/img/content_bg_pattern.png');
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  border-top: 6px solid;
  border-bottom: 6px solid;
}

.main-header h1, .main-header .lead {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
}

.all h1, .main-header .lead {
  font-style: italic;
  text-align: center;
}

.all h1 {
  font-weight: 700;
}

/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input, button, select, textarea, a.btn {
  font: normal 130%/1.69231 Merriweather, serif;
  color: inherit;
}

.checkboxinput, .radioinput {
  position: relative;
  margin-bottom: 0.5em;
  line-height: 30px;
}

.checkboxinput > input, .radioinput > input {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
}
.checkboxinput > input + label, .radioinput > input + label {
  font-size: 120%;
  color: #707070;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  padding: 5px 0 0 39px;
  display: inline-block;
  text-align: left;
  min-height: 25px;
  white-space: nowrap;
  margin: 0 47px 9px 0;
}
.checkboxinput > input + label::before, .radioinput > input + label::before {
  content: " ";
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0;
  background: url('/static/img/check_radio_inputs_2.png') no-repeat;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}

.checkboxinput > input + label::before {
  background-position: 0 0;
}
.checkboxinput > input:focus + label::before {
  background-position: 0 -30px;
}
.checkboxinput > input:checked + label::before {
  background-position: -30px 0;
}
.checkboxinput > input:checked:focus + label::before {
  background-position: -30px -30px;
}
.checkboxinput > input:disabled + label::before {
  background-position: 0 -60px;
}
.checkboxinput > input:checked:disabled + label::before {
  background-position: -30px -60px;
}

.radioinput > input + label::before {
  background-position: -60px 0;
}
.radioinput > input:focus + label::before {
  background-position: -60px -30px;
}
.radioinput > input:checked + label::before {
  background-position: -90px 0;
}
.radioinput > input:checked:focus + label::before {
  background-position: -90px -30px;
}
.radioinput > input:disabled + label::before {
  background-position: -60px -60px;
}
.radioinput > input:checked:disabled + label::before {
  background-position: -90px -60px;
}

option[disabled] {
  display: none;
  visibility: collapse;
}

select > option {
  color: #333;
}
select.placeholder {
  color: #999999;
}

.btn, .inp-str, .inp-sel, .inp-text {
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:disabled, .inp-str:disabled, .inp-sel:disabled, .inp-text:disabled {
  border-color: #ebebeb;
  color: #b3b3b3;
}
.btn:focus, .inp-str:focus, .inp-sel:focus, .inp-text:focus {
  border-color: #919191;
  outline: 0 none;
  -moz-box-shadow: inset 0 0 3px 0 #ccc;
  -webkit-box-shadow: inset 0 0 3px 0 #ccc;
  box-shadow: inset 0 0 3px 0 #ccc;
}

.btn, .inp-str, .inp-sel {
  min-height: 40px;
  line-height: 1.53846em;
}

.inp-str, .inp-sel, .inp-text {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  width: 100%;
}

.btn {
  padding: 8px 15px;
  display: inline-block;
  background: #ccc;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 20px 0 0;
}
.btn[type=submit] {
  border-color: #cfdcae;
  background-color: #cfdcae;
}
.btn[type=submit]:focus {
  border-color: #9eb95c;
}

a.btn {
  text-decoration: none;
  color: inherit;
}

.inp-str {
  padding: 8px 10px;
}

.inp-sel {
  padding: 9px 20px;
}

.inp-text {
  padding: 8px 10px;
  resize: vertical;
}

.inp-row {
  margin-bottom: -2px;
  text-align: center;
  vertical-align: top;
}

.inputs-table {
  border-collapse: separate;
  width: 100%;
}
.inputs-table td {
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}
.inputs-table .checkboxinput label {
  margin: 0;
  padding: 5px 0 0 30px;
}

.input-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
}
.input-block .inp-str {
  margin: 0;
}
.input-block .lbl-text {
  font-size: 120%;
  font-weight: 700;
  display: inline-block;
  padding: 0 0 2px 15px;
  text-align: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sz-55 {
  width: 55.22727272727273%;
}

.sz-42 {
  width: 41.36363636363636%;
}

.sz-27 {
  width: 26.92307692307692%;
}

.sz-65 {
  width: 65.38461538461538%;
}

fieldset > legend {
  font-size: 120%;
  font-weight: 700;
  margin: 0 0 8px 0;
}

form .help {
  font-size: 120%;
  font-weight: 300;
  color: #999999;
  margin-bottom: 37px;
}
form .errorlist {
  color: red;
  list-style: none;
  white-space: normal;
  word-spacing: normal;
  font-weight: 700;
}
form .errorlist li {
  text-align: left;
}
form .errorlist li a {
  color: inherit;
}

*:-ms-input-placeholder {
  display: inline-block !important;
  color: #999999;
  overflow: hidden !important;
  /*pointer-events: none !important;*/
  resize: none !important;
}

.input-group .inp-str, .input-group .input-group-btn {
  position: inherit;
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group .inp-str, .input-group .input-group-btn .btn {
  border-color: #999999;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .inp-str {
  z-index: 2;
  float: left;
  width: 100%;
  border-radius: 3px 0 0 3px;
  padding: 2px 20px;
}
.input-group .inp-str:focus {
  outline: 0 none;
}
.input-group .input-group-btn {
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
.input-group .input-group-btn .btn {
  position: inherit;
  margin: 0 0 0 -1px;
  border-radius: 0 3px 3px 0;
  padding: 15px 19px;
}
.input-group .input-group-btn .btn::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: transparent url('/static/img/search_icon.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
  background: transparent 50% 0 no-repeat url('/static/img/body_bg/0480.jpg');
  background-attachment: fixed !important;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (min-resolution: 2dppx) and (max-resolution: 2.5dppx), (-webkit-min-device-pixel-ratio: 2) and (max-resolution: 2.5dppx), (min--moz-device-pixel-ratio: 2) and (max-resolution: 2.5dppx), (min-resolution: 192dpi) and (max-resolution: 2.5dppx), (min-resolution: 2dppx) and (-webkit-max-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.5), (min--moz-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.5), (min-resolution: 192dpi) and (-webkit-max-device-pixel-ratio: 2.5), (min-resolution: 2dppx) and (max--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2) and (max--moz-device-pixel-ratio: 2.5), (min--moz-device-pixel-ratio: 2) and (max--moz-device-pixel-ratio: 2.5), (min-resolution: 192dpi) and (max--moz-device-pixel-ratio: 2.5), (min-resolution: 2dppx) and (max-resolution: 240dpi), (-webkit-min-device-pixel-ratio: 2) and (max-resolution: 240dpi), (min--moz-device-pixel-ratio: 2) and (max-resolution: 240dpi), (min-resolution: 192dpi) and (max-resolution: 240dpi) {
  body {
    background-image: url('/static/img/body_bg/1400.jpg');
  }
}
@media (min-resolution: 3dppx) and (max-resolution: 3.5dppx), (-webkit-min-device-pixel-ratio: 3) and (max-resolution: 3.5dppx), (min--moz-device-pixel-ratio: 3) and (max-resolution: 3.5dppx), (min-resolution: 288dpi) and (max-resolution: 3.5dppx), (min-resolution: 3dppx) and (-webkit-max-device-pixel-ratio: 3.5), (-webkit-min-device-pixel-ratio: 3) and (-webkit-max-device-pixel-ratio: 3.5), (min--moz-device-pixel-ratio: 3) and (-webkit-max-device-pixel-ratio: 3.5), (min-resolution: 288dpi) and (-webkit-max-device-pixel-ratio: 3.5), (min-resolution: 3dppx) and (max--moz-device-pixel-ratio: 3.5), (-webkit-min-device-pixel-ratio: 3) and (max--moz-device-pixel-ratio: 3.5), (min--moz-device-pixel-ratio: 3) and (max--moz-device-pixel-ratio: 3.5), (min-resolution: 288dpi) and (max--moz-device-pixel-ratio: 3.5), (min-resolution: 3dppx) and (max-resolution: 336dpi), (-webkit-min-device-pixel-ratio: 3) and (max-resolution: 336dpi), (min--moz-device-pixel-ratio: 3) and (max-resolution: 336dpi), (min-resolution: 288dpi) and (max-resolution: 336dpi) {
  body {
    background-image: url('/static/img/body_bg/1920.jpg');
  }
}
@media (min-resolution: 4dppx), (-webkit-min-device-pixel-ratio: 4), (min--moz-device-pixel-ratio: 4), (min-resolution: 384dpi) {
  body {
    background-image: url('/static/img/body_bg/2560.jpg');
  }
}
modal, .overlay {
  display: none;
  visibility: collapse;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
  white-space: nowrap;
}
.overlay::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.all {
  width: 100%;
  margin-bottom: 60px;
}
.all div:empty {
  display: none;
  visibility: collapse;
}
.all h1 {
  font-size: 240%;
}

.all a, .main-footer a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.main-footer a {
  color: #666;
}
.main-footer a:hover {
  color: #111;
}

.main-header {
  padding: 40px 40px 100px;
}
.main-header h1 {
  margin-bottom: 10px;
}
.main-header h1.fake {
  display: none;
  visibility: collapse;
}
.main-header .lead {
  font-size: 140%;
  font-weight: 300;
}

.menu-top {
  position: relative;
  margin-bottom: 55px;
  padding: 5px 1px 0;
}
.menu-top .logo {
  width: 178px;
  height: 75px;
  margin: 66px auto 0;
  padding: 2px 3px 4px;
}
.menu-top .logo > .svg {
  width: 100%;
  height: 100%;
  display: block;
}
.menu-top .menu {
  padding: 23px 29px;
}
.menu-top .menu li a {
  display: block;
  line-height: 45px;
  font-size: 14px;
  padding: 0 23px;
}

.close {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 0 none;
  padding: 0;
}
.close:focus {
  outline: 0 none;
}

@media (max-width: 940px) {
  .menu-top .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    background: transparent;
  }
  .menu-top .menu-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
  }
  .menu-top .menu-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
  }
  .menu-top .collapse {
    display: none;
    visibility: collapse;
  }
  .menu-top .collapse.in {
    display: block;
    visibility: visible;
  }
  .menu-top .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
  }
  .menu-top .menu .close {
    position: absolute;
    top: 38px;
    right: 44px;
    bottom: auto;
    left: auto;
  }
  .menu-top .menu .close:active {
    top: 39px;
  }
  .menu-top .menu .nav-out {
    display: none;
  }
  .menu-top .menu > li {
    background: #fff;
    border: 1px solid #aaa;
  }
  .menu-top .menu > li + li {
    border-top: none;
  }
}
.main-footer {
  width: 100%;
  font-size: 140%;
  line-height: 2.9285714;
  background: #ddd;
  text-align: center;
  color: #666;
}
.main-footer footer {
  padding: 11px;
}
.main-footer footer div {
  font-size: 100%;
  margin: 0;
}
.main-footer a {
  font-weight: 400;
}
.main-footer .search-by-char {
  padding: 0 32px;
}
.main-footer .search-by-char > span {
  display: block;
}
.main-footer .search-by-char > a {
  display: inline-block;
  padding: 0 13px;
}

.win {
  display: none;
  visibility: collapse;
  z-index: 1100;
  position: relative;
  width: auto;
  padding: 30px 13px 0;
  margin: 10px;
  overflow: auto;
  white-space: normal;
}
.win .close {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: auto;
  left: auto;
}
.win .close:active {
  top: 9px;
}
.win .lbl-check {
  white-space: normal;
  margin-right: 0;
}
.win .btn {
  margin: 0;
}
.win form {
  text-align: center;
}
.win form h2 {
  font-size: 160%;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.75;
  margin-bottom: 16px;
}
.win form .help {
  font-size: 140%;
  font-weight: 300;
  line-height: 1.857142857143;
  margin-bottom: 18px;
}
.win form .input-block {
  margin-bottom: 8px;
}
.win form .inp-row {
  margin-bottom: 30px;
  vertical-align: middle;
  line-height: 40px;
}
.win form .inp-row:last-child {
  margin: 0;
}
.win form .inp-row.justify {
  line-height: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.win form .checkboxinput > label {
  white-space: normal;
  font-size: 1em;
  padding: 0 0 0 49px;
  line-height: 1.6em;
  color: #707070;
  margin: 0;
}
.win form .inp-str {
  font-size: 160%;
  line-height: 1.625em;
  padding: 5px 10px;
  min-height: 38px;
}
.win form .btn {
  font-size: 1.2em;
  width: auto;
}
.win .send-msg .inp-row {
  padding: 0 55px;
}
.win .sign-in .btn {
  position: relative;
  background: #ccc;
  line-height: 1.53846em;
  color: #333;
  vertical-align: middle;
  padding: 9px 15px 7px;
}
.win .sign-in .btn.remind {
  padding: 5px 10px 3px;
  font-size: 10px;
}
.win .sign-in .btn[type=submit] {
  line-height: 1.8333333;
}

.show-modal {
  overflow: hidden !important;
}
.show-modal .overlay {
  display: block;
  visibility: visible;
  vertical-align: middle;
}
.show-modal .win {
  display: inline-block;
  visibility: visible;
}

@media (min-width: 601px) {
  body {
    background-image: url('/static/img/body_bg/1400.jpg');
  }
}
@media (min-width: 601px) and (max-resolution: 1.5dppx), (min-width: 601px) and (-webkit-max-device-pixel-ratio: 1.5), (min-width: 601px) and (max--moz-device-pixel-ratio: 1.5), (min-width: 601px) and (max-resolution: 144dpi) {
  body {
    background-image: url('/static/img/body_bg/1920.jpg');
  }
}
@media (min-width: 601px) and (min-resolution: 2dppx), (min-width: 601px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 601px) and (min--moz-device-pixel-ratio: 2), (min-width: 601px) and (min-resolution: 192dpi) {
  body {
    background-image: url('/static/img/body_bg/2560.jpg');
  }
}
@media (min-width: 601px) {
  .all {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .all h1 {
    font-size: 400%;
  }

  .main-header h1 {
    margin-bottom: 24px;
  }
  .main-header .lead {
    font-size: 180%;
    line-height: 1.4444444;
    padding: 0 170px;
  }

  .main-footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
  .main-footer footer {
    padding: 40px 16px;
  }
  .main-footer .columns {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 21px;
  }
  .main-footer .columns > * {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 206px;
    padding: 8px 30px;
  }
  .main-footer .search-by-char > span {
    display: inline-block;
  }
  .main-footer .search-by-char > a {
    padding: 0 7px;
  }

  .win {
    width: 380px;
    padding: 60px 40px 33px;
    margin: 0;
    vertical-align: middle;
  }
  .win .close {
    top: 18px;
    right: 18px;
  }
  .win .close:active {
    top: 19px;
  }
  .win form .help {
    margin-bottom: 30px;
  }
  .win form .input-block {
    margin-bottom: 22px;
  }
  .win form .inp-str {
    padding: 10px 20px;
  }
  .win form .checkboxinput > label {
    line-height: 1.8em;
    margin: 0 47px 9px 0;
  }
  .win form .btn {
    text-transform: uppercase;
    font-weight: 700;
  }

  body.show-modal .overlay::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  body.show-modal .overlay .win {
    display: inline-block;
    visibility: visible;
  }

  .menu-top:before, .menu-top:after {
    content: " ";
    display: table;
  }
  .menu-top:after {
    clear: both;
  }
  .menu-top .logo {
    float: left !important;
    width: 167px;
    height: 71px;
    margin: 0;
  }
  .menu-top .menu {
    display: block;
    float: right !important;
  }
}
@media (min-width: 941px) {
  body {
    overflow: auto;
    background-image: url('/static/img/body_bg/1920.jpg');
  }

  .all {
    min-height: 100%;
    padding-bottom: 271px;
    margin-bottom: 0;
  }

  .main-header {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
  }
  .main-header h1 {
    font-size: 400%;
    line-height: 1.45;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  .main-header .menu-top {
    margin-bottom: 40px;
  }
  .main-header .menu-toggle {
    display: none;
    visibility: collapse;
  }
  .main-header .menu {
    padding: 0;
    display: table;
    margin-top: 11px;
    font-size: 140%;
    line-height: 2.7142857;
    color: #fff;
  }
  .main-header .menu .close {
    display: none;
    visibility: collapse;
  }
  .main-header .menu > li {
    display: inline-block;
    padding: 1px 24px;
    opacity: 0.7;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
  }
  .main-header .menu > li.login {
    padding: 0;
    margin-left: 24px;
    position: relative;
  }
  .main-header .menu > li.login > a {
    display: inline-block;
    padding: 1px 24px;
    border: 1px solid;
  }
  .main-header .menu > li.login .user > .w-2 {
    font-size: 26px;
    line-height: 1;
    vertical-align: -4px;
  }
  .main-header .menu > li.login .user-menu {
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  .main-header .menu > li.login:hover .user-menu {
    display: block;
  }
  .main-header .menu > li.nav-in {
    display: none;
    visibility: collapse;
  }
  .main-header .menu > li.nav-out {
    display: inline-block;
    visibility: visible;
  }
  .main-header .menu > li:hover {
    opacity: 1;
  }
  .main-header .menu a {
    color: inherit;
    text-decoration: none;
  }

  .main-footer {
    height: 211px;
    padding-top: 30px;
    border-top: 1px solid #ececec;
    margin: -211px 0 0;
    font-size: 130%;
    line-height: 2.3076923;
  }
  .main-footer footer {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .main-footer .columns {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .main-footer .columns > * {
    width: 220px;
    padding: 0;
  }
  .main-footer .search-by-char {
    display: table;
    margin: 21px auto 39px;
  }
  .main-footer .search-by-char > * {
    display: inline-block;
    padding: 0 6px;
  }
}

/*# sourceMappingURL=base.css.map */
