/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pagination .pages .icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

.content {
  background: #f4f4f4 url('/static/img/content_bg_pattern.png');
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 3px;
  border-top: 6px solid;
  border-bottom: 6px solid;
}

/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}
.content h1, .content h2, .content h3, .content h4, .content h5 {
  font-weight: 700;
  text-transform: uppercase;
}
.content h1 {
  font-size: 300%;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 21px;
}
.content form {
  margin-bottom: 21px;
}
.content .help {
  font-size: 115.3846%;
  line-height: 1.65;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 14px 0;
  margin-bottom: 24px;
  position: relative;
}
.content .help::after {
  content: ' ';
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: -43px;
  margin: 0 auto;
  background: url('/static/img/feather.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 47px;
  height: 26px;
}
.content > h1 {
  font-size: 2.5em;
  line-height: 1.4;
  margin: 10px 0 18px;
}
.content .search-item, .content .detail {
  background: #fff;
  border-radius: 3px;
  padding: 23px 21px 0;
}
.content .search-item > header, .content .detail > header {
  margin-bottom: 30px;
  text-align: center;
}
.content .search-item h1, .content .detail h1 {
  font-size: 180%;
  line-height: 30px;
  margin-bottom: 17px;
}
.content .search-item h1 > a, .content .detail h1 > a {
  color: inherit;
  text-decoration: none;
}
.content .search-item h1 > a:hover, .content .detail h1 > a:hover {
  text-decoration: underline;
}
.content .search-item hr, .content .detail hr {
  border: 0;
  border-bottom: 1px solid #c7c7c7;
  margin: 0 -21px;
}
.content .return, .content .contact {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.content .get-phone {
  padding: 8px 0;
  font-weight: 700;
}
.content .get-phone a {
  font-weight: inherit;
  font-size: 110%;
  text-transform: none;
}
.content .get-phone a:hover {
  text-decoration: underline;
}
.content .get-phone a.req {
  text-decoration: underline !important;
}
.content > .search form {
  margin-bottom: 15px;
}
.content > .search .inp-str, .content > .search .input-group-btn > .btn {
  height: 58px;
}
.content > .search .inp-str {
  font-size: 160%;
  font-weight: 300;
}
.content > .search .result {
  font-size: 130%;
  text-align: center;
  margin-bottom: 17px;
}
.content .search-item {
  position: relative;
  margin-bottom: 25px;
}
.content .search-item > footer {
  margin: 0 -21px;
  font-size: 1.2em;
  color: #606060;
  background-color: #e0e0e0;
  border-radius: 0 0 3px 3px;
  height: 41px;
}
.content .search-item > footer:hover {
  background-color: #ccc;
}
.content .search-item > footer .more {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.content .search-item > footer .more:focus {
  outline: 0;
}
.content .search-item > footer .more:hover {
  background: transparent;
}
.content .search-item > footer .more::before, .content .search-item > footer .more::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  bottom: auto;
  width: 9px;
  height: 7px;
  background: url('/static/img/caret_down.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.content .search-item > footer .more::before {
  right: auto;
  left: 21px;
}
.content .search-item > footer .more::after {
  right: 21px;
  left: auto;
}
.content .search-item > footer button.more {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.content .search-item > footer a.more {
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  padding: 10px 6px;
}
.content .search-item > footer a.more:hover {
  text-decoration: underline;
}
.content .search-item > .open + footer .more::before, .content .search-item > .open + footer .more::after {
  background-image: url('/static/img/caret_up.svg');
}
.content .search-item .detail-link {
  text-align: center;
  text-transform: uppercase;
}
.content .search-item .detail-link > a {
  font-size: 120%;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
}
.content .search-item .detail-link > a:hover {
  border-bottom-style: dashed;
}
.content .backward {
  display: none;
  visibility: collapse;
}

.distance {
  font-size: 120%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 28px;
}
.distance span {
  display: inline-block;
  height: 14px;
  padding-left: 22px;
  background: transparent url('/static/img/marker.svg') no-repeat;
  -moz-background-size: 9px 14px;
  -o-background-size: 9px 14px;
  -webkit-background-size: 9px 14px;
  background-size: 9px 14px;
}
.distance b {
  font-weight: 700;
}

a.distance {
  color: inherit;
}

.info {
  padding-top: 20px;
}
.info .col.f {
  margin-bottom: 28px;
}
.info .col.s {
  margin-bottom: 28px;
}
.info .col.t {
  margin-bottom: 36px;
}
.info .col.t:before, .info .col.t:after {
  content: " ";
  display: table;
}
.info .col.t:after {
  clear: both;
}
.info h2 {
  font-size: 160%;
  margin-bottom: 0.625em;
}
.info p {
  font-size: 120%;
  font-weight: 300;
  margin-bottom: 1.384615384615385em;
}
.info figure {
  text-align: center;
}
.info figure img {
  width: 100%;
  max-width: 340px;
  height: auto;
  margin: 0 auto 18px;
}
.info figure h3, .info figure address {
  font-size: 130%;
  text-transform: capitalize;
}
.info figure h3 a, .info figure address a {
  text-transform: lowercase;
}
.info figure address {
  font-style: normal;
}
.info figure .add-info {
  text-transform: none;
}
.info .org-logo {
  float: left;
  width: 93px;
  margin-right: 16px;
  text-align: center;
  padding-top: 19px;
}
.info .org-logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0;
}
.info .price {
  overflow: hidden;
}
.info .price ul {
  line-height: 1.53846em;
  font-size: 120%;
}

.roll {
  overflow: hidden;
  height: 0;
  max-height: 0;
  margin: 0;
}
.roll > .info {
  opacity: 0;
}
.roll.open {
  height: auto;
  max-height: 600px;
}
.roll.open > .info {
  opacity: 1;
}

.anim .roll {
  height: auto;
  -moz-animation: slide-up 1s ease-out;
  -webkit-animation: slide-up 1s ease-out;
  animation: slide-up 1s ease-out;
}
.anim .roll > .info {
  -moz-animation: fade-in 2s ease;
  -webkit-animation: fade-in 2s ease;
  animation: fade-in 2s ease;
}
.anim .roll.open {
  -moz-animation: slide-down 1s ease-in;
  -webkit-animation: slide-down 1s ease-in;
  animation: slide-down 1s ease-in;
}
.anim .roll.open > .info {
  -moz-animation: fade-out 2s ease;
  -webkit-animation: fade-out 2s ease;
  animation: fade-out 2s ease;
}

@-moz-keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@-webkit-keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@-moz-keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@-webkit-keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pagination {
  padding: 5px 10px;
}
.pagination .count {
  display: none;
  visibility: collapse;
}
.pagination .pages {
  padding-top: 53px;
  position: relative;
}
.pagination .pages .icons {
  position: absolute;
  width: 99px;
  height: 19px;
  top: 0;
  bottom: auto;
}
.pagination .pages .icons.l {
  left: 0;
  right: auto;
}
.pagination .pages .icons.r {
  left: auto;
  right: 0;
}
.pagination .pages .icon {
  height: 19px;
}
.pagination .pages .icon.first, .pagination .pages .icon.last {
  width: 28px;
}
.pagination .pages .icon.first {
  margin-right: 50px;
}
.pagination .pages .icon.last {
  margin-left: 50px;
}
.pagination .pages .icon.prev, .pagination .pages .icon.next {
  width: 17px;
}
.pagination .pages ul {
  vertical-align: middle;
  text-align: justify;
  font-size: 1.8em;
  line-height: 16px;
}
.pagination .pages ul::after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  font: 0/0 a;
}
.pagination .pages li {
  display: inline-block;
  padding: 0 6px;
}
.pagination .pages a {
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}
.pagination .pages a.curr {
  font-size: 1.538462em;
  font-weight: 700;
}
.pagination .pages .icon {
  background: transparent no-repeat;
  display: inline-block;
}
.pagination .pages .icon.first, .pagination .pages .icon.prev, .pagination .pages .icon.next, .pagination .pages .icon.last {
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.pagination .pages .icon.first {
  background-image: url('/static/img/caret_two_left.svg');
}
.pagination .pages .icon.prev {
  background-image: url('/static/img/caret_left.svg');
}
.pagination .pages .icon.next {
  background-image: url('/static/img/caret_right.svg');
}
.pagination .pages .icon.last {
  background-image: url('/static/img/caret_two_right.svg');
}

.contact-form {
  border: 10px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.contact-form .cell-1 {
  padding: 20px 10px 40px;
  background: #ffffff;
  text-align: center;
}
.contact-form .cell-1 img {
  display: inline-block;
}
.contact-form .cell-1 .logo {
  margin-bottom: 18px;
}
.contact-form .cell-1 .logo img {
  max-height: 140px;
  max-width: 100%;
  width: auto;
  height: auto;
}
.contact-form .cell-1 .logo figcaption h2 {
  display: inline-block;
  font-size: 160%;
  margin: 0;
  padding: 0;
}
.contact-form .cell-1 h1 {
  font-size: 180%;
  line-height: 1.666666666667;
  text-transform: uppercase;
  margin-bottom: 0.777777777778em;
}
.contact-form .cell-1 dl {
  font-size: 1.3em;
  margin: 0 0 26px 0;
}
.contact-form .cell-1 dl > dt {
  display: none;
  visibility: collapse;
  font-weight: 700;
}
.contact-form .cell-1 dl > dd {
  margin-bottom: 1.076923076923em;
}
.contact-form .cell-1 dl > dt:first-child + dd {
  font-weight: 700;
}
.contact-form .cell-1 a {
  color: inherit;
  text-decoration: none;
}
.contact-form .cell-1 a:hover {
  text-decoration: underline;
}
.contact-form .cell-2 {
  width: auto;
  padding: 20px 10px;
}
.contact-form .cell-2 h3 {
  font-size: 140%;
  margin-bottom: 0.5em;
}
.contact-form .cell-2 p {
  font-size: 120%;
  margin-bottom: 1em;
}

.search-article {
  display: none;
  visibility: collapse;
  position: absolute;
  width: 274px;
  height: auto;
  border: 1px solid #ccc;
  border-top-width: 0;
  background: #fff;
  z-index: 100;
  -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  top: 35px;
  left: 0;
  padding: 16px 18px;
}
.search-article .input-group .inp-str, .search-article .input-group .btn {
  height: 40px;
}
.search-article .btn > span {
  color: #000;
}

.show-form {
  position: relative;
}
.show-form > .search-article {
  display: inline-block;
  visibility: visible;
}

@media (min-width: 601px) {
  .all {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content .search-item header, .content .detail header {
    display: -webkit-flex;
    display: flex;
    position: relative;
    min-height: 60px;
    vertical-align: middle;
    text-align: center;
  }
  .content .search-item header::after, .content .detail header::after {
    content: none;
    display: none;
  }
  .content .search-item h1, .content .detail h1 {
    margin: auto;
    overflow: hidden;
  }
  .content .search-item .contact.get-phone, .content .detail .contact.get-phone {
    font-size: 160%;
    margin-top: 0;
    padding: 19px 20px 18px;
  }
  .content .search-item .contact.get-phone .phone, .content .detail .contact.get-phone .phone {
    font-size: 100%;
    font-weight: inherit;
  }
  .content .detail .return, .content .contact {
    position: absolute;
    top: 1px;
    bottom: auto;
    max-width: 134px;
    margin: 0;
  }
  .content .detail .return {
    left: 0;
    right: auto;
  }
  .content .contact {
    right: 0;
    left: auto;
  }
  .content .distance {
    position: absolute;
    margin: 0;
    width: 80px;
    font-size: 140%;
    line-height: 1.428571428571em;
    display: inline-block;
    padding-top: 38px;
    background: url('/static/img/marker.svg') transparent no-repeat 50% 0;
    -moz-background-size: 24px 34px;
    -o-background-size: 24px 34px;
    -webkit-background-size: 24px 34px;
    background-size: 24px 34px;
  }
  .content .distance span {
    height: auto;
    padding-left: 0;
    background: transparent;
  }
  .content .backward {
    display: inline-block;
    visibility: visible;
  }

  .info {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 40px 0 29px;
  }
  .info .col {
    display: table-cell;
    vertical-align: top;
    text-align: center;
  }
  .info .col.f {
    width: 220px;
  }
  .info .col.f:last-child img {
    float: left;
    margin: 0 20px 20px 0;
  }
  .info .col.f:last-child figcaption {
    overflow: hidden;
    text-align: left;
  }
  .info .col.s {
    width: auto;
    padding: 0 20px;
    text-align: left;
  }
  .info .col.t {
    width: 138px;
  }
  .info .col.t::before {
    content: none;
    display: none;
  }
  .info .col.t::after {
    content: none;
    display: none;
  }
  .info .org-logo {
    float: none;
    width: inherit;
    margin-right: 0;
    padding-top: 0;
  }

  .contact-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
  }
  .contact-form .cell-1, .contact-form .cell-2 {
    display: table-cell;
    border: 20px solid #fff;
    border-top-width: 42px;
    border-bottom-width: 30px;
    vertical-align: top;
  }
  .contact-form .cell-1 {
    border-right-width: 10px;
    width: 240px;
    padding: 0;
    background: #fff;
    text-align: center;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .contact-form .cell-1 address {
    font-style: normal;
  }
  .contact-form .cell-1 .map {
    width: 100%;
    height: auto;
  }
  .contact-form .cell-2 {
    position: relative;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .contact-form .inp-text {
    height: auto;
  }

  .pagination {
    position: relative;
    padding: 0 190px;
    font-size: 1.3em;
    margin: -7px 0 9px;
  }
  .pagination .count {
    display: block;
    visibility: visible;
    position: absolute;
    top: 7px;
    right: auto;
    bottom: auto;
    left: 24px;
    padding-left: 19px;
    background: transparent url('/static/img/caret_down_black.svg') no-repeat 0 7px;
    background-size: 8px 7px;
  }
  .pagination .pages {
    text-align: center;
    position: static;
    padding-top: 0;
  }
  .pagination .pages .icons, .pagination .pages ul {
    display: inline-block;
  }
  .pagination .pages .icons {
    line-height: 22px;
    position: static;
    width: auto;
    height: auto;
    vertical-align: middle;
  }
  .pagination .pages .icons.l {
    margin-right: 5px;
  }
  .pagination .pages .icons.r {
    margin-left: 9px;
  }
  .pagination .pages ul {
    font-size: inherit;
  }
  .pagination .pages ul::after {
    content: none;
    display: none;
  }
  .pagination .pages .icon {
    height: 8px;
    margin: 0 1px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.last {
    width: 12px;
  }
  .pagination .pages .icon.prev, .pagination .pages .icon.next {
    width: 7px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.prev {
    margin-right: 3px;
  }
  .pagination .pages .icon.next, .pagination .pages .icon.last {
    margin-left: 3px;
  }
}
@media (min-width: 601px) and (max-width: 940px) {
  .all {
    padding: 0 20px;
    margin-bottom: 66px;
  }

  .content > .search {
    padding-top: 30px;
  }
  .content > .search > header {
    padding: 0 95px;
    margin-bottom: 28px;
  }
  .content > .search > header form {
    margin-bottom: 34px;
  }
  .content .search-item {
    padding-top: 28px;
    margin-bottom: 28px;
  }
  .content .search-item header {
    margin-bottom: 28px;
  }
  .content .search-item .detail-link {
    text-align: left;
  }
  .content .distance {
    top: -10px;
    right: auto;
    bottom: auto;
    left: 7px;
  }

  .contact-form .cell-2 {
    padding: 20px;
  }
}
@media (min-width: 941px) {
  .all {
    min-height: 100%;
    padding-bottom: 293px;
    margin-bottom: 0;
  }

  .content {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 17px;
  }
  .content h1 {
    font-size: 307.6923%;
  }
  .content .help {
    font-size: 123.0769%;
    text-align: center;
    margin-bottom: 115px;
  }
  .content .help::after {
    height: 30px;
    width: 56px;
    bottom: -74px;
  }
  .content > .search {
    margin: -18px 0 0 0;
  }
  .content > .search form {
    max-width: 500px;
    margin: 0 auto 35px;
  }
  .content > .search .result {
    margin-bottom: 27px;
  }
  .content .search-item {
    padding: 29px 39px 0;
    margin-bottom: 30px;
  }
  .content .search-item > header {
    margin-bottom: 26px;
    padding: 0 197px;
  }
  .content .search-item hr {
    margin: 0 -39px;
  }
  .content .search-item .info {
    margin-bottom: 53px;
  }
  .content .search-item .detail-link {
    text-align: right;
  }
  .content .search-item footer {
    margin: 0 -39px;
  }
  .content .search-item footer .more::before {
    left: 39px;
  }
  .content .search-item footer .more::after {
    right: 39px;
  }
  .content .distance {
    top: -11px;
    right: auto;
    bottom: auto;
    left: 4px;
  }
  .content .quick-links {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .content .quick-links a {
    color: inherit;
    text-decoration: none;
  }
  .content .quick-links a:hover {
    text-decoration: underline;
  }
  .content .quick-links article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content .quick-links article.col-1 {
    width: 29.4702%;
  }
  .content .quick-links article.col-2 {
    width: 18.7638%;
  }
  .content .quick-links article.col-3 {
    width: 45.36424%;
  }
  .content .quick-links article.col-3 h1 {
    text-align: center;
  }
  .content .quick-links article h1 {
    font-size: 123.076923%;
    padding: 15px 17px 12px;
    margin-bottom: 9px;
    background: #fff;
    text-align: left;
  }
  .content .quick-links article ul {
    line-height: 2.3077;
    padding: 0 17px 0 31px;
  }
  .content .quick-links article ul li {
    padding-left: 11px;
  }
  .content .quick-links article .img-clip {
    margin-top: -9px;
  }
  .content .search.manager .search-item > header {
    padding: 0 0 0 120px;
  }
  .content .search.manager .search-item > header h1 {
    margin: auto 0;
    text-align: left;
  }
  .content > .simple-page {
    padding: 0 30px 15px;
    background-color: transparent;
  }
  .content > .simple-page .columns {
    -moz-columns: 380px 2;
    -webkit-columns: 380px 2;
    columns: 380px 2;
    -moz-column-gap: 60px;
    -webkit-column-gap: 60px;
    column-gap: 60px;
  }
  .content > .simple-page p {
    text-align: justify;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 120%;
    font-weight: 200;
    margin-bottom: 1.230769230769em;
  }
  .content > .simple-page .copyright {
    color: #707070;
    text-align: center;
    margin: 130px 0 2px;
    font-size: 120%;
  }
  .content > .simple-page h2, .content > .simple-page h3, .content > .simple-page .copyright {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
  }
  .content > .simple-page h2 {
    font-size: 160%;
    line-height: 1.875;
    margin: 0 0 1em 0;
  }
  .content > .simple-page p + h2 {
    margin-top: 1.8125em;
  }

  .pagination {
    padding: 0 210px;
  }
  .pagination .pages .icons.l {
    margin-right: 7px;
  }
  .pagination .pages .icons.r {
    margin-left: 11px;
  }
  .pagination .pages .icon {
    margin: 0 3px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.prev {
    margin-right: 5px;
  }
  .pagination .pages .icon.next, .pagination .pages .icon.last {
    margin-left: 5px;
  }

  .info .col.s {
    padding: 0 39px;
  }
  .info h2 {
    margin-bottom: 0.9375em;
  }
  .info p {
    margin-bottom: 1.846154em;
  }
  .info figure img {
    width: 220px;
    margin-bottom: 26px;
  }
  .info .org-logo {
    margin-bottom: 21px;
  }
  .info .price ul > li {
    margin-bottom: 1.53846em;
  }

  .contact-form .cell-1, .contact-form .cell-2 {
    border: 30px solid #fff;
  }
  .contact-form .cell-1 {
    width: 260px;
    border-right-width: 0;
  }
  .contact-form .cell-2 {
    padding: 30px;
  }

  .profile-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
  }
  .profile-form .left, .profile-form .right {
    display: table-cell;
    border: 30px solid transparent;
    vertical-align: top;
  }
  .profile-form .left {
    width: 260px;
    text-align: center;
  }
  .profile-form .right {
    width: auto;
  }
  .profile-form .inp-str, .profile-form .inp-sel, .profile-form .inp-text {
    padding: 9px 14px;
  }
  .profile-form .inp-text {
    height: 414px;
  }
  .profile-form #postal_code_block {
    width: 26.92307692307692%;
  }
  .profile-form #city_block {
    width: 65.38461538461538%;
  }

  .logo-upload {
    position: relative;
    margin: 0 auto 36px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
  }
  .logo-upload .logo, .logo-upload .inp-file, .logo-upload .lbl-file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .logo-upload .logo {
    max-height: 150px;
    max-width: 150px;
    margin: auto;
  }
  .logo-upload .inp-file {
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 20;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .logo-upload .lbl-file {
    top: auto;
    z-index: 30;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #000;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    color: #fff;
    font-size: 120%;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .logo-upload .inp-file:hover + .lbl-file, .logo-upload .lbl-file:hover {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
  }

  .input-group .input-group-btn .btn {
    vertical-align: middle;
    border-left-width: 0;
  }
  .input-group .input-group-btn .btn::before {
    content: none;
    display: none;
  }
  .input-group .input-group-btn .btn span {
    vertical-align: -8px;
    font-size: 14px;
    line-height: inherit;
    display: inline;
    visibility: visible;
  }
}

/*# sourceMappingURL=catalog.css.map */
