@charset "UTF-8";
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font: normal 300 10px/1.35 Merriweather, serif;
  color: #333;
}

.post-detail h1, .post-detail h2, .post-detail p, .post-detail blockquote, .post-detail div {
  line-height: 1.42857;
  margin: 0 0 5px;
}
.post-detail h1, .post-detail h2, .post-detail h3 {
  font-weight: 700;
}
.post-detail h1 {
  text-align: left;
  font-size: 240%;
}
.post-detail h2 {
  font-size: 140%;
}
.post-detail h3 {
  font-size: 130%;
}
.post-detail p, .post-detail blockquote, .post-detail ul, .post-detail ol {
  font-size: 120%;
}
.post-detail ul ul, .post-detail ul ol, .post-detail ol ul, .post-detail ol ol {
  font-size: 100%;
}
.post-detail ul, .post-detail ol {
  margin: 1em 0;
  padding-left: 30px;
  list-style-position: outside;
}
.post-detail ol {
  list-style-type: decimal;
}
.post-detail ul {
  list-style-type: disc;
}
.post-detail blockquote {
  font-style: italic;
  position: relative;
  padding: 14px 0 9px;
}
.post-detail blockquote::before {
  content: "“";
  display: inline-block;
  font-size: 240%;
  font-weight: 700;
  position: absolute;
  top: -2px;
}
.post-detail blockquote p {
  text-indent: 20px;
}
.post-detail em {
  font-style: italic;
  font-weight: 400;
}
.post-detail strong {
  font-style: normal;
  font-weight: 700;
}
.post-detail header img {
  max-width: 100%;
  height: auto;
}
.post-detail header h1 {
  padding: 0;
}
.post-detail .post-content {
  padding: 20px;
}

.all .centered, .post-detail .centered {
  text-align: center;
}
.all .btn-link, .post-detail .btn-link {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  display: block;
  width: auto;
  min-width: 134px;
  max-width: 244px;
  margin: 19px auto;
  border: 1px solid;
  text-align: center;
  padding: 12px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.all .btn-link a, .post-detail .btn-link a {
  color: #666;
  text-decoration: none;
}
.all .btn-link a:hover, .post-detail .btn-link a:hover {
  color: #111;
}
.all .btn-link + .btn-link, .post-detail .btn-link + .btn-link {
  margin-left: 0;
}
.all a.btn-link:hover, .post-detail a.btn-link:hover {
  color: #111;
}

.post-detail p .btn-link {
  display: inline-block;
  width: 210px;
}

.post-detail.cke_show_blocks {
  padding: 22px 39px 30px 31px;
  width: 550px;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
  color: #333;
  font-size: 120%;
  font-weight: 300;
}
table td, table th {
  padding: 9px 20px;
  border: 1px solid #eee;
}
table td {
  text-align: left;
}
table th {
  text-align: center;
  font-weight: 700;
  background: #fff;
}
table tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
table tbody tr:nth-child(even) {
  background: #fdfdfd;
}
table tbody tr:hover:nth-child(odd) {
  background: #cfddac;
}
table tbody tr:hover:nth-child(even) {
  background: #f4f19b;
}

div.zoom {
  position: relative;
}
div.zoom img {
  display: block;
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
div.zoom::before {
  content: "+";
  position: absolute;
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #333;
  line-height: 27px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

div.zoom:hover::before {
  display: none;
}

div.zoom.center-block {
  text-align: center;
}
div.zoom.center-block img {
  display: inline-block;
  margin-bottom: -4px;
}

div.zoom.pull-right {
  margin-left: 10px;
  margin-bottom: 10px;
}

div.zoom.pull-left {
  margin-right: 10px;
  margin-bottom: 10px;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -moz-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.zoom-overlay-open .zoom-overlay {
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 601px) {
  .post-detail {
    width: 540px;
    margin: 0 auto;
    padding: 31px 40px;
  }
  .post-detail header img {
    display: block;
    margin: -31px -40px 31px -40px;
    max-width: none;
  }
  .post-detail .post-content {
    padding: 0;
  }
}
@media (min-width: 941px) {
  .all .btn-link {
    margin: 8px 20px;
  }

  .simple-page .content {
    background: #ddd;
    padding: 26px 18px 24px;
  }
  .simple-page .content > .inner {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 31px 40px;
    font-size: 120%;
    line-height: 1.42857;
    background: #fff;
  }
}

/*# sourceMappingURL=contents.css.map */
