/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
.win .close, .pagination .pages .icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

.win, .content {
  background: #f4f4f4 url('/static/img/content_bg_pattern.png');
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 6px solid;
}

/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
option[disabled] {
  display: none;
  visibility: collapse;
}

select > option {
  color: #333;
  font: 300 normal 92.307692%/1.33333 "Merriweather-Sans", sans-serif;
}
select.placeholder {
  color: #999999;
}

.btn, .inp-str, .inp-sel, .inp-text {
  border: 1px solid #999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:disabled, .inp-str:disabled, .inp-sel:disabled, .inp-text:disabled {
  border-color: #b8b8b8;
  color: #b3b3b3;
}
.btn:focus, .inp-str:focus, .inp-sel:focus, .inp-text:focus {
  border-color: #5e5e5e;
  outline: 0 none;
  -moz-box-shadow: inset 0 0 3px 0 #ccc;
  -webkit-box-shadow: inset 0 0 3px 0 #ccc;
  box-shadow: inset 0 0 3px 0 #ccc;
}

.btn, .inp-str, .inp-sel {
  min-height: 40px;
  line-height: 1.53846em;
}

.inp-str, .inp-sel, .inp-text {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  width: 100%;
}

.btn {
  padding: 8px 15px;
  display: inline-block;
  background: #999;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 20px 0 0;
}
.btn[type=submit] {
  border-color: #cfdcae;
  background-color: #cfdcae;
}
.btn[type=submit]:focus {
  border-color: #9eb95c;
}

a.btn {
  text-decoration: none;
  color: inherit;
}

.read-more {
  text-align: right;
  margin-top: 16px;
}
.read-more .btn {
  font-size: 10px;
  margin: 0;
  background: #ccc;
  border-color: #ccc;
  vertical-align: middle;
  min-height: 27px;
  padding: 5px 11px;
}

.inp-str {
  padding: 8px 10px;
}

.inp-sel {
  padding: 9px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('/static/img/sel_bg.png') center right no-repeat #fff;
  background-size: auto 100%;
}

/* target Internet Explorer 9 and Internet Explorer 10: */
@media screen and (min-width: 0 \0) {
  .inp-sel {
    background: none;
    padding: 5px;
  }
}
.inp-text {
  padding: 8px 10px;
  resize: vertical;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-group .inp-str, .input-group .input-group-btn {
  position: inherit;
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group .inp-str, .input-group .input-group-btn .btn {
  height: 58px;
  border-color: #666666;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .inp-str {
  z-index: 2;
  float: left;
  width: 100%;
  border-radius: 3px 0 0 3px;
  padding: 2px 20px;
}
.input-group .inp-str:focus {
  outline: 0 none;
}
.input-group .input-group-btn {
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
.input-group .input-group-btn .btn {
  position: inherit;
  margin: 0 0 0 -1px;
  border-radius: 0 3px 3px 0;
  padding: 15px 19px;
}
.input-group .input-group-btn .btn::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: transparent url('/static/img/search_icon.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.input-group .input-group-btn .btn span {
  display: none;
  visibility: collapse;
}

.win form .checkboxinput > label {
  white-space: normal;
  font-size: 76.92307692%;
  padding: 0 0 0 49px;
  line-height: 1.6em;
  color: #707070;
  margin: 0;
}
.win form .inp-str {
  font-size: 123.0769%;
  line-height: 1.625em;
  padding: 5px 10px;
  min-height: 38px;
}
.win form .btn {
  font-size: 92.30769231%;
  width: auto;
}
.win .sign-in .btn {
  position: relative;
}
.win .sign-in .btn span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 1.53846em;
  color: #333;
  background: #999;
  z-index: 100;
  padding: inherit;
  vertical-align: middle;
}
.win .sign-in .btn.remind {
  padding: 4px 10px;
}
.win .sign-in .btn.remind > span {
  font-size: 10px;
}
.win .sign-in .btn[type=submit] > span {
  line-height: 1.833333333333333em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
.win .close, .pagination .pages .icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

.win, .content {
  background: #f4f4f4 url('/static/img/content_bg_pattern.png');
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 6px solid;
}

/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_300_normal.eot?1440507384');
  src: url('/static/css/fonts/merriweather_300_normal.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_300_normal.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_300_normal.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_300_normal.ttf?1440507384') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_300_italic.eot?1440507384');
  src: url('/static/css/fonts/merriweather_300_italic.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_300_italic.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_300_italic.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_300_italic.ttf?1440507384') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_400_normal.eot?1440507384');
  src: url('/static/css/fonts/merriweather_400_normal.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_400_normal.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_400_normal.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_400_normal.ttf?1440507384') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_400_italic.eot?1440507384');
  src: url('/static/css/fonts/merriweather_400_italic.eot?&1440507384#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_400_italic.woff2?1440507384') format('woff2'), url('/static/css/fonts/merriweather_400_italic.woff?1440507384') format('woff'), url('/static/css/fonts/merriweather_400_italic.ttf?1440507384') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_700_normal.eot?1440508918');
  src: url('/static/css/fonts/merriweather_700_normal.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_700_normal.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_700_normal.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_700_normal.ttf?1440508918') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_700_italic.eot?1440508918');
  src: url('/static/css/fonts/merriweather_700_italic.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_700_italic.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_700_italic.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_700_italic.ttf?1440508918') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_900_normal.eot?1440508918');
  src: url('/static/css/fonts/merriweather_900_normal.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_900_normal.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_900_normal.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_900_normal.ttf?1440508918') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url('/static/css/fonts/merriweather_900_italic.eot?1440508918');
  src: url('/static/css/fonts/merriweather_900_italic.eot?&1440508918#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweather_900_italic.woff2?1440508918') format('woff2'), url('/static/css/fonts/merriweather_900_italic.woff?1440508918') format('woff'), url('/static/css/fonts/merriweather_900_italic.ttf?1440508918') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather-Sans";
  src: url('/static/css/fonts/merriweathersans_300_normal.eot?1440769998');
  src: url('/static/css/fonts/merriweathersans_300_normal.eot?&1440769998#iefix') format('embedded-opentype'), url('/static/css/fonts/merriweathersans_300_normal.woff2?1440769998') format('woff2'), url('/static/css/fonts/merriweathersans_300_normal.woff?1440769998') format('woff'), url('/static/css/fonts/merriweathersans_300_normal.ttf?1440769998') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

input, button, select, textarea, a.btn {
  font: normal 100%/1.69231 Merriweather, serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

modal, .overlay {
  display: none;
  visibility: collapse;
}

.main-header {
  width: 100%;
  height: 100px;
  position: relative;
}
.main-header .logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px auto auto;
  display: inline-block;
  height: 70px;
  width: 173px;
}
.main-header .logo object {
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.main-header a.logo {
  text-decoration: none;
}

.content hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 29px 0;
}
.content ul {
  list-style-image: url('/static/img/bullet.svg');
}
.content a.block {
  display: block;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 84.615385%;
  padding: 14px 0 11px;
  background: #ccc;
}
.content .img-clip img {
  display: block;
}

.mark {
  position: relative;
}
.mark::before {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 25px;
  height: 14px;
  background: transparent url('/static/img/feather.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.main-footer {
  width: 100%;
  background: transparent;
}
.main-footer footer.top {
  background: #333;
  color: #fff;
}
.main-footer footer.bottom {
  background: #fff;
}
.main-footer footer.bottom .mark::before {
  top: 4px;
  left: 16px;
}

.search-by-city {
  font-size: 120%;
  margin-left: 0;
  padding: 15px 60px 17px;
}
.search-by-city > li {
  width: 100%;
  height: auto;
  border-bottom: 1px dotted #2b2b2a;
}
.search-by-city > li:last-child {
  border-bottom: 0;
}
.search-by-city > li:nth-child(2), .search-by-city > li:nth-child(3) {
  display: none;
  visibility: collapse;
}
.search-by-city > li > ul {
  padding: 20px 0 17px;
  text-align: center;
  line-height: 32px;
}
.search-by-city a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.search-by-city a:hover {
  text-decoration: underline;
}

.search-by-char {
  font-size: 100%;
  text-transform: uppercase;
  display: table;
  margin: 4px auto;
}
.search-by-char a, .search-by-char span {
  display: inline-block;
  margin: 0 10px;
}
.search-by-char a {
  color: inherit;
  text-decoration: none;
}
.search-by-char a:hover {
  text-decoration: underline;
}
.search-by-char a.curr {
  font-size: 136.462%;
  font-weight: 700;
}
.search-by-char a.curr:hover {
  text-decoration: none;
}

.win {
  display: none;
  visibility: collapse;
  z-index: 1100;
  position: relative;
  width: auto;
  padding: 30px 13px 0;
  margin: 10px;
  overflow: auto;
}
.win .close {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: auto;
  left: auto;
  background: transparent;
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
}
.win .close:focus {
  outline: 0 none;
}
.win .close:active {
  top: 9px;
}
.win .lbl-check {
  white-space: normal;
  margin-right: 0;
}
.win .btn {
  margin: 0;
}

body.show-modal .overlay {
  display: block;
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
}
body.show-modal .overlay .win {
  display: block;
  visibility: visible;
}

@media (min-width: 601px) {
  .main-footer footer {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
  }

  .search-by-city {
    padding: 0;
    display: table;
    margin: 0 auto;
  }
  .search-by-city > li {
    display: inline-block;
    width: auto;
    height: 100%;
    border-bottom: 0;
    border-right: 1px dashed #fff;
    margin-right: -3px;
  }
  .search-by-city > li:nth-child(n) {
    display: inline-block;
    visibility: visible;
  }
  .search-by-city > li:last-child {
    border-right: 0;
  }
  .search-by-city > li > ul {
    padding: 15px 30px 16px 40px;
    text-align: left;
  }

  .win {
    width: 380px;
    padding: 60px 40px 11px;
    margin: 0;
    vertical-align: middle;
  }
  .win .close {
    top: 18px;
    right: 18px;
  }
  .win .close:active {
    top: 19px;
  }

  body.show-modal .overlay::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  body.show-modal .overlay .win {
    display: inline-block;
    visibility: visible;
  }
}
@media (min-width: 941px) {
  .main-header {
    height: 123px;
  }
  .main-header .logo {
    margin-top: 17px;
    height: 90px;
    width: 222px;
  }

  .main-footer {
    height: 250px;
    margin-top: -250px;
  }
  .main-footer footer.top {
    padding-top: 44px;
    height: 167px;
  }
  .main-footer footer.bottom {
    height: 31px;
    padding-top: 8px;
  }
  .main-footer footer.bottom .menu-bottom {
    width: 940px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }
  .main-footer footer.bottom .menu-bottom a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 54px;
    color: #333;
    border-right: 1px solid #787878;
    margin-left: -3px;
  }
  .main-footer footer.bottom .menu-bottom a:last-child {
    border-right: 0;
    padding-right: 18px;
  }
  .main-footer footer.bottom .menu-bottom a:hover {
    text-decoration: underline;
  }
  .main-footer footer.bottom .mark::before {
    left: 17px;
  }

  .search-by-city {
    font-size: 100%;
    margin-bottom: 35px;
  }
  .search-by-city > li {
    margin: 0;
    width: 362px;
    border: 0;
  }
  .search-by-city > li > ul {
    padding: 0 0 0 90px;
    border-right: 1px dashed;
  }
  .search-by-city > li > ul > li:first-child {
    line-height: 13px;
  }
  .search-by-city > li > ul > li:first-child a {
    vertical-align: 9px;
  }
  .search-by-city > li > ul > li:last-child {
    line-height: 13px;
  }
  .search-by-city > li > ul > li:last-child a {
    vertical-align: -10px;
  }
  .search-by-city > li:last-child ul {
    border-right: 0;
  }

  .search-by-char {
    width: 906px;
    margin: 0 auto;
  }
  .search-by-char a {
    margin: 0 20px 0 0;
  }
  .search-by-char span {
    margin: 0 30px 0 0;
  }

  .content .search-form {
    margin-top: 37px;
    margin-bottom: 47px;
  }
  .content .search-form input, .content .search-form select, .content .search-form button {
    font-size: 115.3846%;
  }
  .content .search-form .input-group {
    max-width: 450px;
    margin: 0 auto;
  }
  .content .search-form .pull-left, .content .search-form .pull-right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
  }
  .content .search-form .pull-left {
    padding-right: 10px;
  }
  .content .search-form .pull-right {
    padding-left: 10px;
  }
  .content .search-form .pull-right .inp-str, .content .search-form .pull-right .btn, .content .search-form .pull-left .inp-sel {
    height: 48px;
  }

  .input-group .input-group-btn .btn {
    vertical-align: middle;
  }
  .input-group .input-group-btn .btn::before {
    content: none;
    display: none;
  }
  .input-group .input-group-btn .btn span {
    vertical-align: -8px;
    font-size: 14px;
    line-height: inherit;
    display: inline;
    visibility: visible;
  }
}
/*
- Font (website in general): Merryweather, spacing: Auto (please also refer to original page)

- Page Title: 20pt, bold, spacing auto
- Page Overview (Table of Content) Text: 15.3pt, light, spacing 29pt

- Normal Title: 15.3pt, bold, spacing auto
- Normal Text: 12pt, light, spacing 22pt

- Table Header: 12pt, heavy, spacing auto
- Table Content: 12pt, Light, spacing auto

- Button Text: 9.5pt, light, spacing auto

- Menue/Navi (Level 1): 1.6em, light (see original)
- Menue/Navi (Level 2): 13pt, light (inactive), heavy (active), spacing between links 29pt
- Menue/Navi (Level 3): 16pt, light, spacing 29pt
*/
.app-advisor {
  display: -webkit-flex;
  display: flex;
  margin-left: -17px;
}
.app-advisor .left-menu {
  flex-grow: 1;
  padding-right: 29px;
}
.app-advisor .left-menu ul {
  list-style: none;
}
.app-advisor .left-menu ul a {
  display: inline-block;
  width: 100%;
  padding-left: 17px;
  line-height: 29px;
  border-bottom: 1px solid #ccc;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
.app-advisor .left-menu ul ul a {
  padding-left: 34px;
}
.app-advisor .left-menu ul .active > a {
  font-weight: 700;
}
.app-advisor .left-menu ul a:hover {
  text-decoration: underline;
}
.app-advisor .blog-list {
  width: 690px;
}
.app-advisor .blog-list header {
  margin-bottom: 29px;
}
.app-advisor .blog-list header img {
  display: block;
}
.app-advisor .search-query {
  margin: 29px 0;
}
.app-advisor .search-query q {
  font-weight: 700;
}
.app-advisor article {
  margin-bottom: 29px;
}
.app-advisor article h1 {
  text-align: left;
}
.app-advisor article.post-detail {
  width: 690px;
}
.app-advisor article.post-detail h1 {
  font-size: 18px;
}
.app-advisor article .blog-lead {
  padding: 17px;
  background: #fff;
  margin-bottom: 29px;
}
.app-advisor article .blog-lead h1 {
  font-size: 15px;
}
.app-advisor article .blog-lead h1 a {
  color: inherit;
  text-decoration: none;
}
.app-advisor article h1.mark {
  text-indent: 43px;
}
.app-advisor article h1.mark::before {
  left: 0;
}
.app-advisor article .links {
  display: -webkit-flex;
  display: flex;
  padding: 0 17px;
}
.app-advisor article .links ul {
  margin-right: 42px;
  padding-left: 14px;
  line-height: 32px;
}
.app-advisor article .links ul li {
  padding-left: 9px;
  white-space: nowrap;
}
.app-advisor article .links a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.app-advisor article .links a:hover {
  text-decoration-style: dashed;
}

.plugin-advisor {
  display: -webkit-flex;
  display: flex;
  max-height: 412px;
  overflow: hidden;
}
.plugin-advisor .latest-entry {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 610px;
  background: #fff;
  padding: 17px;
}
.plugin-advisor .latest-entry h1 {
  text-align: left;
  font-size: 16px;
  margin: -1px 0 12px;
}
.plugin-advisor .latest-entry figure {
  margin-bottom: 12px;
}
.plugin-advisor .latest-entry figure > img {
  display: block;
}
.plugin-advisor .latest-entry .blog-lead {
  height: 66px;
  width: 100%;
  overflow: hidden;
}
.plugin-advisor .latest-entry .blog-lead p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.plugin-advisor .latest-entry .read-more {
  margin-top: 12px;
}
.plugin-advisor .latest-entries {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-left: 29px;
  max-width: 296px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.plugin-advisor .latest-entries > * {
  margin-bottom: 17px;
}
.plugin-advisor .latest-entries .title {
  font-size: 16px;
  text-align: left;
  background: #fff;
  padding: 15px 18px 12px;
}
.plugin-advisor .latest-entries .post-item {
  background: #fff;
  padding-right: 17px;
}
.plugin-advisor .latest-entries .post-item img {
  display: block;
  margin-right: 17px;
}
.plugin-advisor .latest-entries .post-item h1 {
  font-size: 16px;
  text-align: left;
  margin-top: 9px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.plugin-advisor .latest-entries .post-item .blog-lead {
  margin-bottom: 2px;
  overflow: hidden;
}
.plugin-advisor .latest-entries .post-item .blog-lead p {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.teaser {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.teaser article {
  padding: 16px;
  width: 302px;
  min-width: 302px;
  background: #fff;
  margin-bottom: 29px;
}
.teaser article img {
  float: left;
  margin-right: 16px;
}
.teaser article h1 {
  font-size: 12px;
  text-transform: capitalize;
  margin: -1px 0 7px;
  text-align: left;
}
.teaser article p {
  word-spacing: -0.1ex;
  letter-spacing: -0.07ex;
}
.teaser article .next {
  text-align: right;
  margin-top: 16px;
}
.teaser article .next .btn {
  font-size: 10px;
  margin: 0;
  background: #ccc;
  border-color: #ccc;
  vertical-align: middle;
  min-height: 27px;
  padding: 5px 11px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  background: fixed transparent 50% 70% no-repeat url('/static/img/main_bg.jpg');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  font: normal 13px/1.69231 Merriweather, serif;
  color: #333;
  cursor: default;
}

.all {
  width: 100%;
  margin-bottom: 50px;
}

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}
.content h1 {
  font-size: 215.3846%;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 21px;
}
.content form {
  margin-bottom: 21px;
}
.content .help {
  font-size: 115.3846%;
  line-height: 1.65;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 14px 0;
  margin-bottom: 24px;
  position: relative;
}
.content .help::after {
  content: ' ';
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: -43px;
  margin: 0 auto;
  background: url('/static/img/feather.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 47px;
  height: 26px;
}
.content > h1 {
  font-size: 2.5em;
  line-height: 1.4;
  margin: 10px 0 18px;
}
.content .search-item, .content .detail {
  background: #fff;
  border-radius: 3px;
  padding: 23px 21px 0;
}
.content .search-item > header, .content .detail > header {
  margin-bottom: 30px;
  text-align: center;
}
.content .search-item h1, .content .detail h1 {
  font-size: 138.4615%;
  line-height: 30px;
  margin-bottom: 17px;
}
.content .search-item h1 > a, .content .detail h1 > a {
  color: inherit;
  text-decoration: none;
}
.content .search-item h1 > a:hover, .content .detail h1 > a:hover {
  text-decoration: underline;
}
.content .search-item hr, .content .detail hr {
  border: 0;
  border-bottom: 1px solid #949494;
  margin: 0 -21px;
}
.content .return, .content .contact {
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.content > .search form {
  margin-bottom: 15px;
}
.content > .search .inp-str {
  font-size: 123.0769%;
  font-weight: 300;
}
.content > .search .result {
  font-size: 100%;
  text-align: center;
  margin-bottom: 17px;
}
.content .search-item {
  position: relative;
  margin-bottom: 25px;
}
.content .search-item > footer {
  margin: 0 -21px;
  font-size: 1.2em;
  color: #606060;
  background-color: #e0e0e0;
  border-radius: 0 0 3px 3px;
  height: 41px;
}
.content .search-item > footer:hover {
  background-color: #999;
}
.content .search-item > footer .more {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.content .search-item > footer .more:focus {
  outline: 0;
}
.content .search-item > footer .more:hover {
  background: transparent;
}
.content .search-item > footer .more::before, .content .search-item > footer .more::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  bottom: auto;
  width: 9px;
  height: 7px;
  background: url('/static/img/caret_down.svg') no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.content .search-item > footer .more::before {
  right: auto;
  left: 21px;
}
.content .search-item > footer .more::after {
  right: 21px;
  left: auto;
}
.content .search-item > footer button.more {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.content .search-item > footer a.more {
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  padding: 10px 6px;
}
.content .search-item > footer a.more:hover {
  text-decoration: underline;
}
.content .search-item > .open + footer .more::before, .content .search-item > .open + footer .more::after {
  background-image: url('/static/img/caret_up.svg');
}
.content .search-item .detail-link {
  text-align: center;
  text-transform: uppercase;
}
.content .search-item .detail-link > a {
  font-size: 92.31%;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
}
.content .search-item .detail-link > a:hover {
  border-bottom-style: dashed;
}
.content .backward {
  display: none;
  visibility: collapse;
}

.distance {
  font-size: 100%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 28px;
}
.distance span {
  display: inline-block;
  height: 22px;
  padding-left: 22px;
  background: transparent url('/static/img/marker.svg') no-repeat;
  -moz-background-size: 15px 22px;
  -o-background-size: 15px 22px;
  -webkit-background-size: 15px 22px;
  background-size: 15px 22px;
}
.distance b {
  font-weight: 700;
}

a.distance {
  color: inherit;
}

.info {
  padding-top: 20px;
}
.info .col.f {
  margin-bottom: 28px;
}
.info .col.s {
  margin-bottom: 28px;
}
.info .col.t {
  margin-bottom: 36px;
}
.info .col.t:before, .info .col.t:after {
  content: " ";
  display: table;
}
.info .col.t:after {
  clear: both;
}
.info h2 {
  font-size: 123.0769%;
  margin-bottom: 0.625em;
}
.info p {
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 1.384615384615385em;
}
.info figure {
  text-align: center;
}
.info figure img {
  width: 100%;
  max-width: 340px;
  height: auto;
  margin: 0 auto 18px;
}
.info figure h3, .info figure address {
  font-size: 100%;
  text-transform: capitalize;
}
.info figure h3 a, .info figure address a {
  text-transform: lowercase;
}
.info figure address {
  font-style: normal;
}
.info figure .add-info {
  text-transform: none;
}
.info .org-logo {
  float: left;
  width: 93px;
  margin-right: 16px;
  text-align: center;
  padding-top: 19px;
}
.info .org-logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0;
}
.info .price {
  overflow: hidden;
}
.info .price ul {
  line-height: 1.53846em;
  font-size: 100%;
}

.roll {
  overflow: hidden;
  height: 0;
  max-height: 0;
}
.roll > .info {
  opacity: 0;
}
.roll.open {
  height: auto;
  max-height: 600px;
}
.roll.open > .info {
  opacity: 1;
}

.anim .roll {
  height: auto;
  -moz-animation: slide-up 1s ease-out;
  -webkit-animation: slide-up 1s ease-out;
  animation: slide-up 1s ease-out;
}
.anim .roll > .info {
  -moz-animation: fade-in 2s ease;
  -webkit-animation: fade-in 2s ease;
  animation: fade-in 2s ease;
}
.anim .roll.open {
  -moz-animation: slide-down 1s ease-in;
  -webkit-animation: slide-down 1s ease-in;
  animation: slide-down 1s ease-in;
}
.anim .roll.open > .info {
  -moz-animation: fade-out 2s ease;
  -webkit-animation: fade-out 2s ease;
  animation: fade-out 2s ease;
}

@-moz-keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@-webkit-keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes slide-up {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}
@-moz-keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@-webkit-keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@keyframes slide-down {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pagination {
  padding: 5px 10px;
}
.pagination .count {
  display: none;
  visibility: collapse;
}
.pagination .pages {
  padding-top: 53px;
  position: relative;
}
.pagination .pages .icons {
  position: absolute;
  width: 99px;
  height: 19px;
  top: 0;
  bottom: auto;
}
.pagination .pages .icons.l {
  left: 0;
  right: auto;
}
.pagination .pages .icons.r {
  left: auto;
  right: 0;
}
.pagination .pages .icon {
  height: 19px;
}
.pagination .pages .icon.first, .pagination .pages .icon.last {
  width: 28px;
}
.pagination .pages .icon.first {
  margin-right: 50px;
}
.pagination .pages .icon.last {
  margin-left: 50px;
}
.pagination .pages .icon.prev, .pagination .pages .icon.next {
  width: 17px;
}
.pagination .pages ul {
  vertical-align: middle;
  text-align: justify;
  font-size: 1.8em;
  line-height: 16px;
}
.pagination .pages ul::after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  font: 0/0 a;
}
.pagination .pages li {
  display: inline-block;
  padding: 0 6px;
}
.pagination .pages a {
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}
.pagination .pages a.curr {
  font-size: 1.538462em;
  font-weight: 700;
}
.pagination .pages .icon {
  background: transparent no-repeat;
  display: inline-block;
}
.pagination .pages .icon.first, .pagination .pages .icon.prev, .pagination .pages .icon.next, .pagination .pages .icon.last {
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.pagination .pages .icon.first {
  background-image: url('/static/img/caret_two_left.svg');
}
.pagination .pages .icon.prev {
  background-image: url('/static/img/caret_left.svg');
}
.pagination .pages .icon.next {
  background-image: url('/static/img/caret_right.svg');
}
.pagination .pages .icon.last {
  background-image: url('/static/img/caret_two_right.svg');
}

.contact-form {
  border: 10px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.contact-form .cell-1 {
  padding: 20px 10px 40px;
  background: #ffffff;
  text-align: center;
}
.contact-form .cell-1 img {
  display: inline-block;
}
.contact-form .cell-1 .logo {
  margin-bottom: 18px;
}
.contact-form .cell-1 .logo img {
  max-height: 140px;
  max-width: 100%;
  width: auto;
  height: auto;
}
.contact-form .cell-1 .logo figcaption h2 {
  display: inline-block;
  font-size: 123.0769%;
  margin: 0;
  padding: 0;
}
.contact-form .cell-1 h1 {
  font-size: 138.4615%;
  line-height: 1.666666666667;
  text-transform: uppercase;
  margin-bottom: 0.777777777778em;
}
.contact-form .cell-1 dl {
  font-size: 1.3em;
  margin: 0 0 26px 0;
}
.contact-form .cell-1 dl > dt {
  display: none;
  visibility: collapse;
  font-weight: 700;
}
.contact-form .cell-1 dl > dd {
  margin-bottom: 1.076923076923em;
}
.contact-form .cell-1 dl > dt:first-child + dd {
  font-weight: 700;
}
.contact-form .cell-1 a {
  color: inherit;
  text-decoration: none;
}
.contact-form .cell-1 a:hover {
  text-decoration: underline;
}
.contact-form .cell-2 {
  width: auto;
  padding: 20px 10px;
}
.contact-form .cell-2 h3 {
  font-size: 107.6923%;
  margin-bottom: 0.5em;
}
.contact-form .cell-2 p {
  font-size: 100%;
  margin-bottom: 1em;
}

.win form {
  text-align: center;
}
.win form h2 {
  font-size: 123.0769%;
  line-height: 1.75;
  margin-bottom: 5px;
}
.win form .help {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.857142857143;
  margin-bottom: 18px;
}
.win form .input-block {
  margin-bottom: 8px;
}
.win form .inp-row {
  margin-bottom: 30px;
  vertical-align: middle;
  line-height: 40px;
}
.win form .inp-row:last-child {
  margin: 0;
}
.win form .inp-row.justify {
  line-height: 20px;
}
.win .send-msg .inp-row {
  padding: 0 55px;
}

.menu-top {
  color: #333;
  background: #fff;
  border-bottom: 1px solid;
}
.menu-top a, .menu-top span {
  color: inherit;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-top a:hover {
  text-decoration: underline;
}
.menu-top .menu {
  list-style: none;
}
.menu-top .menu span {
  color: #999;
}

.search-article {
  display: none;
  visibility: collapse;
  position: absolute;
  width: 274px;
  height: auto;
  border: 1px solid #ccc;
  border-top-width: 0;
  background: #fff;
  z-index: 100;
  -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  top: 35px;
  left: 0;
  padding: 16px 18px;
}
.search-article .input-group .inp-str, .search-article .input-group .btn {
  height: 40px;
}
.search-article .btn > span {
  color: #000;
}

.show-form {
  position: relative;
}
.show-form > .search-article {
  display: inline-block;
  visibility: visible;
}

@media (min-width: 601px) {
  .all {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content .search-item header, .content .detail header {
    display: -webkit-flex;
    display: flex;
    position: relative;
    min-height: 60px;
    vertical-align: middle;
    text-align: center;
  }
  .content .search-item header::after, .content .detail header::after {
    content: none;
    display: none;
  }
  .content .search-item h1, .content .detail h1 {
    margin: auto;
    overflow: hidden;
  }
  .content .detail .return, .content .contact {
    position: absolute;
    top: 0;
    bottom: auto;
    max-width: 134px;
  }
  .content .detail .return {
    left: 0;
    right: auto;
  }
  .content .contact {
    right: 0;
    left: auto;
  }
  .content .distance {
    position: absolute;
    margin: 0;
    width: 80px;
    font-size: 1.4em;
    line-height: 1.428571428571em;
    display: inline-block;
    padding-top: 38px;
    background: url('/static/img/marker.svg') transparent no-repeat 50% 0;
    -moz-background-size: 24px 34px;
    -o-background-size: 24px 34px;
    -webkit-background-size: 24px 34px;
    background-size: 24px 34px;
  }
  .content .distance span {
    height: auto;
    padding-left: 0;
    background: transparent;
  }
  .content .backward {
    display: inline-block;
    visibility: visible;
  }

  .info {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 40px 0 29px;
  }
  .info .col {
    display: table-cell;
    vertical-align: top;
    text-align: center;
  }
  .info .col.f {
    width: 220px;
  }
  .info .col.f:last-child img {
    float: left;
    margin: 0 20px 20px 0;
  }
  .info .col.f:last-child figcaption {
    overflow: hidden;
    text-align: left;
  }
  .info .col.s {
    width: auto;
    padding: 0 20px;
    text-align: left;
  }
  .info .col.t {
    width: 138px;
  }
  .info .col.t::before {
    content: none;
    display: none;
  }
  .info .col.t::after {
    content: none;
    display: none;
  }
  .info .org-logo {
    float: none;
    width: inherit;
    margin-right: 0;
    padding-top: 0;
  }

  .contact-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
  }
  .contact-form .cell-1, .contact-form .cell-2 {
    display: table-cell;
    border: 20px solid #fff;
    border-top-width: 42px;
    border-bottom-width: 30px;
    vertical-align: top;
  }
  .contact-form .cell-1 {
    border-right-width: 10px;
    width: 240px;
    padding: 0;
    background: #fff;
    text-align: center;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .contact-form .cell-1 address {
    font-style: normal;
  }
  .contact-form .cell-1 .map {
    width: 100%;
    height: auto;
  }
  .contact-form .cell-2 {
    position: relative;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .contact-form .inp-text {
    height: auto;
  }

  .pagination {
    position: relative;
    padding: 0 190px;
    font-size: 1.3em;
    margin: -7px 0 9px;
  }
  .pagination .count {
    display: block;
    visibility: visible;
    position: absolute;
    top: 7px;
    right: auto;
    bottom: auto;
    left: 24px;
    padding-left: 19px;
    background: transparent url('/static/img/caret_down_black.svg') no-repeat 0 7px;
    background-size: 8px 7px;
  }
  .pagination .pages {
    text-align: center;
    position: static;
    padding-top: 0;
  }
  .pagination .pages .icons, .pagination .pages ul {
    display: inline-block;
  }
  .pagination .pages .icons {
    line-height: 22px;
    position: static;
    width: auto;
    height: auto;
    vertical-align: middle;
  }
  .pagination .pages .icons.l {
    margin-right: 5px;
  }
  .pagination .pages .icons.r {
    margin-left: 9px;
  }
  .pagination .pages ul {
    font-size: inherit;
  }
  .pagination .pages ul::after {
    content: none;
    display: none;
  }
  .pagination .pages .icon {
    height: 8px;
    margin: 0 1px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.last {
    width: 12px;
  }
  .pagination .pages .icon.prev, .pagination .pages .icon.next {
    width: 7px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.prev {
    margin-right: 3px;
  }
  .pagination .pages .icon.next, .pagination .pages .icon.last {
    margin-left: 3px;
  }

  .win form .help {
    margin-bottom: 30px;
  }
  .win form .input-block {
    margin-bottom: 11px;
  }
  .win form .inp-str {
    padding: 10px 20px;
  }
  .win form .checkboxinput > label {
    line-height: 1.8em;
    margin: 0 47px 9px 0;
  }
}
@media (min-width: 601px) and (max-width: 940px) {
  .all {
    padding: 0 20px;
    margin-bottom: 66px;
  }

  .content > .search {
    padding-top: 30px;
  }
  .content > .search > header {
    padding: 0 95px;
    margin-bottom: 28px;
  }
  .content > .search > header form {
    margin-bottom: 34px;
  }
  .content .search-item {
    padding-top: 28px;
    margin-bottom: 28px;
  }
  .content .search-item header {
    margin-bottom: 28px;
  }
  .content .search-item .detail-link {
    text-align: left;
  }
  .content .distance {
    top: -10px;
    right: auto;
    bottom: auto;
    left: 7px;
  }

  .contact-form .cell-2 {
    padding: 20px;
  }
}
@media (min-width: 941px) {
  .all {
    min-height: 100%;
    padding-bottom: 293px;
    margin-bottom: 0;
  }

  .content {
    width: 940px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 43px 17px;
  }
  .content h1 {
    font-size: 307.6923%;
  }
  .content .help {
    font-size: 123.0769%;
    text-align: center;
    margin-bottom: 115px;
  }
  .content .help::after {
    height: 30px;
    width: 56px;
    bottom: -74px;
  }
  .content > .search {
    margin: -18px 0 0 0;
  }
  .content > .search form {
    max-width: 500px;
    margin: 0 auto 35px;
  }
  .content > .search .result {
    margin-bottom: 27px;
  }
  .content .search-item {
    padding: 29px 39px 0;
    margin-bottom: 30px;
  }
  .content .search-item > header {
    margin-bottom: 26px;
    padding: 0 197px;
  }
  .content .search-item hr {
    margin: 0 -39px;
  }
  .content .search-item .info {
    margin-bottom: 53px;
  }
  .content .search-item .detail-link {
    text-align: right;
  }
  .content .search-item footer {
    margin: 0 -39px;
  }
  .content .search-item footer .more::before {
    left: 39px;
  }
  .content .search-item footer .more::after {
    right: 39px;
  }
  .content .distance {
    top: -11px;
    right: auto;
    bottom: auto;
    left: 4px;
  }
  .content .quick-links {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .content .quick-links a {
    color: inherit;
    text-decoration: none;
  }
  .content .quick-links a:hover {
    text-decoration: underline;
  }
  .content .quick-links article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content .quick-links article.col-1 {
    width: 29.4702%;
  }
  .content .quick-links article.col-2 {
    width: 18.7638%;
  }
  .content .quick-links article.col-3 {
    width: 45.36424%;
  }
  .content .quick-links article.col-3 h1 {
    text-align: center;
  }
  .content .quick-links article h1 {
    font-size: 123.076923%;
    padding: 15px 17px 12px;
    margin-bottom: 9px;
    background: #fff;
    text-align: left;
  }
  .content .quick-links article ul {
    line-height: 2.3077;
    padding: 0 17px 0 31px;
  }
  .content .quick-links article ul li {
    padding-left: 11px;
  }
  .content .quick-links article .img-clip {
    margin-top: -9px;
  }
  .content .search.manager .search-item > header {
    padding: 0 0 0 120px;
  }
  .content .search.manager .search-item > header h1 {
    margin: auto 0;
    text-align: left;
  }
  .content > .simple-page {
    padding: 0 30px 15px;
    background-color: transparent;
  }
  .content > .simple-page .columns {
    -moz-columns: 380px 2;
    -webkit-columns: 380px 2;
    columns: 380px 2;
    -moz-column-gap: 60px;
    -webkit-column-gap: 60px;
    column-gap: 60px;
  }
  .content > .simple-page p {
    text-align: justify;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 100%;
    font-weight: 200;
    margin-bottom: 1.230769230769em;
  }
  .content > .simple-page .copyright {
    color: #707070;
    text-align: center;
    margin: 130px 0 2px;
    font-size: 92.31%;
  }
  .content > .simple-page h2, .content > .simple-page h3, .content > .simple-page .copyright {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
  }
  .content > .simple-page h2 {
    font-size: 123.0769%;
    line-height: 1.875;
    margin: 0 0 1em 0;
  }
  .content > .simple-page p + h2 {
    margin-top: 1.8125em;
  }

  .menu-top {
    width: 940px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 0;
  }
  .menu-top .menu li {
    position: relative;
    display: inline-block;
    padding: 0 51px 0 54px;
  }
  .menu-top .menu li:before {
    display: inline-block;
    content: " ";
    width: 1px;
    height: 16px;
    background: #333;
    position: absolute;
    top: 3px;
    left: 0;
  }
  .menu-top .menu img {
    display: inline-block;
    vertical-align: -3px;
  }
  .menu-top .menu a.curr {
    position: relative;
  }
  .menu-top .menu a.curr::after {
    content: " ";
    display: block;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 28px;
    left: 43.623571%;
    background: url('/static/img/bullet_d.svg') no-repeat;
  }
  .menu-top .menu li:first-child {
    padding-left: 17px;
  }
  .menu-top .menu li:first-child::before {
    content: none;
    display: none;
  }
  .menu-top .user-toolbar {
    padding: 0 14px;
  }
  .menu-top .user-toolbar a:first-child {
    position: relative;
  }
  .menu-top .user-toolbar a:first-child::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 3px;
    right: auto;
    bottom: auto;
    left: -38px;
    height: 13px;
    width: 24px;
    background: transparent url('/static/img/feather.svg') no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
  }

  .pagination {
    padding: 0 210px;
  }
  .pagination .pages .icons.l {
    margin-right: 7px;
  }
  .pagination .pages .icons.r {
    margin-left: 11px;
  }
  .pagination .pages .icon {
    margin: 0 3px;
  }
  .pagination .pages .icon.first, .pagination .pages .icon.prev {
    margin-right: 5px;
  }
  .pagination .pages .icon.next, .pagination .pages .icon.last {
    margin-left: 5px;
  }

  .info .col.s {
    padding: 0 39px;
  }
  .info h2 {
    margin-bottom: 0.9375em;
  }
  .info p {
    margin-bottom: 1.846154em;
  }
  .info figure img {
    width: 220px;
    margin-bottom: 26px;
  }
  .info .org-logo {
    margin-bottom: 21px;
  }
  .info .price ul > li {
    margin-bottom: 1.53846em;
  }

  .contact-form .cell-1, .contact-form .cell-2 {
    border: 30px solid #fff;
  }
  .contact-form .cell-1 {
    width: 260px;
    border-right-width: 0;
  }
  .contact-form .cell-2 {
    padding: 30px;
  }

  .profile-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
  }
  .profile-form .left, .profile-form .right {
    display: table-cell;
    border: 30px solid transparent;
    vertical-align: top;
  }
  .profile-form .left {
    width: 260px;
    text-align: center;
  }
  .profile-form .right {
    width: auto;
  }
  .profile-form .inp-str, .profile-form .inp-sel, .profile-form .inp-text {
    padding: 9px 14px;
  }
  .profile-form .inp-text {
    height: 414px;
  }
  .profile-form #postal_code_block {
    width: 26.92307692307692%;
  }
  .profile-form #city_block {
    width: 65.38461538461538%;
  }

  .logo-upload {
    position: relative;
    margin: 0 auto 36px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
  }
  .logo-upload .logo, .logo-upload .inp-file, .logo-upload .lbl-file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .logo-upload .logo {
    max-height: 150px;
    max-width: 150px;
    margin: auto;
  }
  .logo-upload .inp-file {
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 20;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .logo-upload .lbl-file {
    top: auto;
    z-index: 30;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #000;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    color: #fff;
    font-size: 100%;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  .logo-upload .inp-file:hover + .lbl-file, .logo-upload .lbl-file:hover {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
  }
}

/*# sourceMappingURL=screen.css.map */
