/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-header .search-form label, .usefull .section-header h1 {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
}

.main-header .search-form label, .content h1, .usefull .section-content h3 {
  font-style: italic;
  text-align: center;
}

.main-header .search-form label, .content h1, .usefull .section-content h3 {
  font-weight: 700;
}

/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.plugin {
  font-size: 100%;
  padding-top: 13px;
}
.plugin article {
  background: #fff;
}
.plugin article .visual > img {
  display: block;
  width: 100%;
  height: auto;
}
.plugin article .lead {
  padding: 40px 33px;
  text-align: left;
}
.plugin article .lead h1, .plugin article .lead p {
  margin-bottom: 20px;
  text-align: left;
}
.plugin article .lead h1 {
  font-size: 200%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.plugin article .lead p {
  font-size: 140%;
  line-height: 1.42857;
  font-weight: 300;
}
.plugin article .lead .text {
  max-height: 76px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.plugin article .lead .read-more {
  margin: 32px 0 0;
}
.plugin article .lead .read-more .btn-link {
  margin: 0;
}
.plugin .latest-entry {
  margin: 0 0 24px;
}
.plugin .latest-entries-other .post-item + .post-item {
  display: none;
}

@media (min-width: 601px) {
  .plugin {
    padding: 22px 56px;
  }
  .plugin article {
    margin-bottom: 20px;
  }
  .plugin .latest-entry {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .plugin .latest-entry .lead .read-more .btn-link {
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
  }
  .plugin .latest-entries-other {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .plugin .latest-entries-other .post-item {
    width: 300px;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
  .plugin .latest-entries-other .post-item + .post-item {
    display: block;
    margin-left: 20px;
  }
}
@media (min-width: 941px) {
  .plugin {
    padding: 60px 0;
  }
  .plugin .latest-entry {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    max-height: 306px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .plugin .latest-entry:before, .plugin .latest-entry:after {
    content: " ";
    display: table;
  }
  .plugin .latest-entry:after {
    clear: both;
  }
  .plugin .latest-entry .visual {
    float: left;
    clear: left;
    margin-right: 40px;
  }
  .plugin .latest-entry .visual img {
    width: 459px;
    height: auto;
  }
  .plugin .latest-entry .lead {
    padding: 26px 26px 26px 40px;
  }
  .plugin .latest-entry .lead h1 {
    font-size: 240%;
    line-height: 1.5833333;
  }
  .plugin .latest-entry .lead .text {
    line-height: 1.5714286;
    max-height: 132px;
  }
  .plugin .latest-entry .lead .read-more {
    margin: 20px 0 0 0;
  }
  .plugin .latest-entries-other .post-item .lead {
    padding: 30px;
  }
  .plugin .latest-entries-other .post-item .lead .text {
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 18px;
    height: 72px;
    line-height: 1.5;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
.content > section {
  padding: 26px 18px 24px;
}

.main-header .search-form {
  display: table;
  width: 100%;
  margin: 55px 0 -3px;
  padding: 0 1px;
}
.main-header .search-form label {
  font-size: 240%;
  display: block;
  line-height: 1.4166667;
  margin-bottom: 10px;
}
.main-header .search-form .input-group {
  display: inline-table;
}
.main-header .search-form .input-group .inp-str, .main-header .search-form .input-group .btn {
  height: 34px;
  font-size: 12px;
}
.main-header .search-form .input-group .inp-str {
  border-color: #fff;
  font-weight: 300;
}
.main-header .search-form .input-group .inp-str:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
}
.main-header .search-form .input-group .btn {
  padding: 9px 20px 9px 19px;
  background: #cfddac;
  border-color: #cfddac;
  position: relative;
  font-size: 1px;
  font-weight: 400;
  color: transparent;
  width: 61px;
}
.main-header .search-form .input-group .btn:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/static/img/search_icon.svg');
  top: 9px;
  left: 19px;
}

.content > section:empty {
  display: none;
}

.first-teaser {
  background: #ddd;
}
.first-teaser .section-header {
  margin-bottom: 10px;
}
.first-teaser .section-header h1 {
  color: inherit;
  margin-bottom: 18px;
}
.first-teaser .section-header .sign {
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 18px;
}
.first-teaser .section-header .lead {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding: 8px;
}
.first-teaser .section-header .lead p {
  font-size: 140%;
}
.first-teaser .section-header .lead a.btn-link {
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.usefull .section-header {
  padding: 14px 0;
}
.usefull .section-header h1 {
  margin-bottom: 14px;
}
.usefull .section-content > .box {
  background: #fff;
  padding: 31px 34px;
  margin: 0 0 24px;
}
.usefull .section-content h3 {
  font-size: 200%;
  margin: 7px 0 20px;
}
.usefull .section-content p {
  font-size: 140%;
  font-weight: 300;
  line-height: 1.42857;
  margin: 0 0 38px;
}
.usefull .section-content .reg {
  margin-bottom: 0;
}
.usefull .section-content .reg .pic {
  margin: -31px -34px 31px -34px;
}
.usefull .section-content .reg .pic > img {
  display: block;
  width: 100%;
  height: auto;
}
.usefull .section-content .links .btn-link {
  margin: 0 auto;
}
.usefull .section-content .links .btn-link + .btn-link {
  margin-top: 9px;
}

@media (min-width: 601px) {
  .main-header .search-form {
    margin: 100px auto 80px;
    max-width: 500px;
  }
  .main-header .search-form label {
    font-size: 400%;
    line-height: 1.45;
  }
  .main-header .search-form .input-group .inp-str, .main-header .search-form .input-group .btn {
    height: 58px;
    font-size: 14px;
  }
  .main-header .search-form .input-group .btn {
    width: auto;
    color: inherit;
  }
  .main-header .search-form .input-group .btn:before {
    display: none;
    content: none;
  }

  .first-teaser .section-header .sign {
    width: 56px;
    height: 31px;
    margin-bottom: 30px;
  }
  .first-teaser .section-header .lead {
    width: 616px;
    margin: 0 auto;
  }
  .first-teaser .section-header .lead p {
    font-size: 180%;
  }

  .usefull .section-header {
    padding: 40px 0 30px;
  }
  .usefull .section-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .usefull .section-content > .box {
    width: 300px;
    padding: 30px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .usefull .section-content > .box + .box {
    margin-left: 20px;
  }
  .usefull .section-content .reg .pic {
    margin: -30px -30px 30px -30px;
  }
}
@media (min-width: 941px) {
  .main-header .search-form {
    width: auto;
    max-width: none;
    vertical-align: middle;
  }
  .main-header .search-form label, .main-header .search-form .input-group {
    padding: 0 8px;
  }
  .main-header .search-form label {
    font-size: 400%;
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
  }
  .main-header .search-form .input-group {
    max-width: 500px;
    vertical-align: top;
  }
  .main-header .search-form .input-group .inp-str {
    width: 400px;
  }

  .section-header {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-header h1 {
    font-size: 400%;
  }

  .section-content {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .first-teaser {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .first-teaser .section-header h1 {
    margin-bottom: 32px;
  }
  .first-teaser .section-header .sign {
    width: 56px;
    height: 31px;
    margin-bottom: 24px;
  }
  .first-teaser .section-header > .lead {
    line-height: 1.4444444;
  }
  .first-teaser .section-header > .lead p {
    margin-bottom: 32px;
  }
  .first-teaser .section-header > .lead .btn-link {
    width: 180px;
  }

  .usefull .section-header {
    padding: 52px 0 43px;
  }
  .usefull .section-content {
    -webkit-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
  }
  .usefull .section-content > .box {
    margin-bottom: 0;
  }
  .usefull .section-content h3 {
    font-size: 180%;
    line-height: 1.3333333;
    margin: 0 0 18px;
    text-align: left;
  }
  .usefull .section-content p {
    font-size: 120%;
    line-height: 1.5;
    margin-bottom: 24px;
  }
}

/*# sourceMappingURL=startpage.css.map */
