<h1>{% if trunc_title %}{{ article.title|truncatechars:trunc_title }}{% else %}{{ article.title }}{% endif %}</h1>
<p class="text">{% if article.text %}{{ article.text.body|striptags|truncatechars:trunc_text }}{% endif %}</p>
<p class="read-more"><a href="{{ article.url }}" class="btn-link">Erfahren Sie mehr</a></p>
