<div class="columns">{% spaceless %}
    {% load i18n cms_tags %}{% url 'catalog:search' as srch_url %}
    <div class="search-by-city">
        <ul>
            <li><a href="{{ srch_url }}?query=Berlin">Bestattung in Berlin</a></li>
            <li><a href="{{ srch_url }}?query=Hamburg">Bestattung in Hamburg</a></li>
            <li><a href="{{ srch_url }}?query=M%C3%BCnchen">Bestattung in München</a></li>
        </ul>
    </div>
    <div class="search-by-city">
        <ul>
            <li><a href="{{ srch_url }}?query=K%C3%B6ln">Bestattung in Köln</a></li>
            <li><a href="{{ srch_url }}?query=Frankfurt%20am%20Main">Bestattung in Frankfurt</a></li>
            <li><a href="{{ srch_url }}?query=Stuttgart">Bestattung in Stuttgart</a></li>
        </ul>
    </div>
    <div class="search-by-city">
        <ul>
            <li><a href="{{ srch_url }}?query=D%C3%BCsseldorf">Bestattung in Düsseldorf</a></li>
            <li><a href="{{ srch_url }}?query=Dortmund">Bestattung in Dortmund</a></li>
            <li><a href="{{ srch_url }}?query=Essen">Bestattung in Essen</a></li>
        </ul>
    </div>
    <nav class="footer-menu">{% static_placeholder 'other_links' or %}
        <ul>
            <li><a href="#">AGB & Datenschutz</a></li>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Kontakt & Service</a></li>
        </ul>
    {% endstatic_placeholder %}</nav>
{% endspaceless %}</div>

<div class="search-by-char">{% spaceless %}
    <span>{% trans 'All funeral' %}:</span>
    {% for letter in FIRMS_ALPHABET %}
        <a{% if char != letter %} href="{% url 'catalog:search_char' char=letter %}"{% else %} class="curr"{% endif %}>{{ letter }}</a>
    {% endfor %}
{% endspaceless %}</div>
