{% spaceless %}
    {% load sekizai_tags staticfiles %}

    {% addtoblock 'head_js' %}
        <!--[if lt IE 9]><script src="{% static 'js/IE9.min.js' %}"></script><script src="{% static 'js/respond.min.js' %}"></script><![endif]-->
    {% endaddtoblock %}

    {% addtoblock 'head_js' %}
        <script>{% include 'catalog/.include/settings.js' %}</script>
    {% endaddtoblock %}

    {% addtoblock 'head_js' %}
        <script src="{% static 'js/modernizr.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock 'head_js' %}
        <script src="{% static 'js/load_polyfills.js' %}"></script>
    {% endaddtoblock %}
{% endspaceless %}
