{% spaceless %}
    {% load staticfiles %}
    <!--[if lt IE 9]>
        <script src="{% static 'js/IE9.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
{% endspaceless %}
