{% load staticfiles widget_tweaks %}
<div class="overlay">
    <div class="win" id="modal-win"></div>
</div>
<script>document.createElement('modal');</script>
{% if contact_form %}<modal id="contact">{% spaceless %}
    <button id="close-win" class="close"><span class="svg"><img src="{% static 'img/times.svg' %}"/></span></button>
    <form class="send-msg" action="{% url 'catalog:xhr' action='query_contact' %}" method="post" name="simple_contact">
        {% csrf_token %}
        {% for hidden in contact_form.hidden_fields %}{{ hidden }}{% endfor %}
        <h2>Bitte geben sie ihre e-mail adresse an.</h2>
        <p class="help">Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes.</p>
        {% for fld in contact_form.visible_fields %}{% spaceless %}
            {% include 'catalog/.include/input_block.html' with field=fld label_class='sr-only' %}
        {% endspaceless %}{% endfor %}
        <div class="input-block">
            <button class="btn" type="submit" disabled>Abschicken</button>
        </div>
    </form>
{% endspaceless %}</modal>{% endif %}
{% if login_form %}<modal id="login">{% spaceless %}
    <button id="close-win" class="close"><span class="svg"><img src="{% static 'img/times.svg' %}"/></span></button>
    <form class="sign-in" action="{% url 'auth:login' %}" method="post">
        <h2>Bitte geben Sie Ihre Login Daten<br/> ein oder registrieren sie sich</h2>
        <div class="help"></div>
        {% csrf_token %}
        {% for hidden in login_form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for fld in login_form.visible_fields %}{% spaceless %}
            {% include 'catalog/.include/input_block.html' with field=fld label_class='sr-only' %}
        {% endspaceless %}{% endfor %}
        <div class="inp-row justify">
            <button class="btn remind" type="submit" data-pass_remind="1">Registrieren / Passwort<br/>per Mail zuschicken</button>
            <button class="btn" type="submit" data-pass_remind="0">Einloggen</button>
        </div>
    </form>
{% endspaceless %}</modal>{% endif %}
