        <form action="{% url 'catalog:search' %}" method="get" name="search">{% spaceless %}
            {% load widget_tweaks form_utils %}
            <div class="input-group">
                {% render_label form.query class='sr-only' %}
                {% render_field form.query class+='inp-str' placeholder=form.query.label autofocus='' %}
                <span class="input-group-btn">
                    <button type="submit" class="btn"><span>Suchen</span></button>
                </span>
            </div>
        {% endspaceless %}</form>
