{% load i18n thumbnail %}{% spaceless %}
<div class="plugin plugin-blog">
    <h3>{% trans "Authors" %}</h3>
    <ul class="blog-authors">
        {% for author in authors_list %}
        <li><a href="{% url 'advisor:posts-author' author.get_username %}">
            {{ author.get_full_name }}
            <span>(
                {% if author.count > 0 %}
                {% blocktrans count articles=author.count %}1 article{% plural %}{{ articles }} articles{% endblocktrans %}
                {% else %}{% trans "0 articles" %}{% endif %}
            )</span>
        </a></li>
        {% empty %}
        <li class="blog-empty"><p>{% trans "No article found." %}</p></li>
        {% endfor %}
    </ul>
</div>
{% endspaceless %}
