{% load i18n thumbnail staticfiles %}{% spaceless %}
    <aside class="plugin plugin-advisor">
        {% if posts_list %}
            <article id="post-{{ post.slug }}" class="latest-entry">{% with post=posts_list.0 %}
                {% if post.main_image %}{% include 'advisor/includes/main_image.html' with dimensions='480x320' %}{% endif %}
                <div class="lead">
                    {% include 'advisor/includes/post_text_trunc.html' with trunc_title=27 trunc_text=160 %}
                </div>
            {% endwith %}</article>
            <section class="latest-entries-other">
                {% for post in posts_list|slice:'1:4' %}
                    <article id="post-{{ post.slug }}" class="post-item">
                        {% if post.main_image %}{% include 'advisor/includes/main_image.html' with dimensions='360x240' %}{% endif %}
                        <div class="lead">
                            {% include 'advisor/includes/post_text_trunc.html' with trunc_title=27 trunc_text=160 %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        {% else %}
            <p class="blog-empty">{% trans "No article found." %}</p>
        {% endif %}
    </aside>
{% endspaceless %}
