        <form action="{% url 'advisor:posts-search' %}" class="search-article" method="get" name="search_article">{% spaceless %}
            {% load widget_tweaks form_utils %}
            {% comment %}<div class="pull-left">
                {% render_label form.service class='sr-only' %}
                {% render_field form.service class+='inp-sel' placeholder=form.search.label %}
            </div>{% endcomment %}
            <div class="input-group">
                {% render_label form.query class='sr-only' %}
                {% render_field form.query class+='inp-str' placeholder=form.query.label autofocus='' %}
                <span class="input-group-btn">
                    <button type="submit" class="btn"><span>Suchen</span></button>
                </span>
            </div>
        {% endspaceless %}</form>
