{% spaceless %}
    {% load i18n %}
    <nav class="search-by-char">
        <span>{% trans 'All funeral' %}:</span>
        {% for letter in firms_alphabet %}
            <a{% if char != letter %} href="{% url 'catalog:search_char' char=letter %}"{% else %} class="curr"{% endif %}>{{ letter }}</a>
        {% endfor %}
    </nav>
{% endspaceless %}
