{% spaceless %}
    {% load widget_tweaks form_utils %}
    <form action="{% url 'catalog:search' %}" class="search-form" method="get" name="search">
        {% comment %}<div class="pull-left">
            {% render_label form.service class='sr-only' %}
            {% render_field form.service class+='inp-sel' placeholder=form.search.label %}
        </div>{% endcomment %}
        {% render_label form.query %}
        <div class="input-group">
            {% render_field form.query class+='inp-str' placeholder=form.query.help_text autofocus='' %}
            <span class="input-group-btn">
                <button type="submit" class="btn">Suchen</button>
            </span>
        </div>
    </form>
{% endspaceless %}
