{% extends 'base.html' %}

{% load menu_tags i18n cms_tags staticfiles sekizai_tags %}

{% block meta %}{%  if meta %}
    {% include "meta_mixin/meta.html" %}
{% endif %}{% endblock %}

{% block base_header %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'css/advisor.css' %}" media="screen"/>
    {% endaddtoblock %}

    <h1>{% trans "Adviser" %}</h1>
    <div class="lead">{% placeholder 'advisor_lead' or %}<p>{% blocktrans trimmed %}
        With a bereavement many organisationally and legally necessary steps are connected. Of the
        Funeral workers want to help you with important information in preparing the burial and
        Find contact persons and literature in the situation of mourning.
    {% endblocktrans %}</p>{% endplaceholder %}</div>

{% endblock %}

{% block content %}
<div class="app app-advisor">
    <nav class="left-menu"><ul>
        {% show_menu 1 2 0 1 "menu.html" %}
{% comment %}
            <li><a href="#">Bestattung</a></li>
            <li><a href="#">Bestattungsarten</a></li>
            <li><a href="#">Bestattungskosten</a></li>
            <li><a href="#">Erbe</a></li>
            <li><a href="#">Grab</a></li>
{% endcomment %}
    </ul></nav>
    {% block content_blog %}{% endblock %}
</div>
{% endblock content %}
