{% extends "advisor/base.html" %}
{% load i18n thumbnail cms_tags sekizai_tags staticfiles %}

{% block meta_description %}{{ post.meta_description }}{% endblock meta_description %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock meta_keywords %}
{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}
    <article id="post-{{ post.slug }}" class="post-item post-detail">
        <header>
            {% if post.main_image_id %}
                {% thumbnail post.main_image post.full_image_options.size crop=post.full_image_options.crop upscale=post.full_image_options.upscale subject_location=post.main_image.subject_location as thumb %}
                <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>
            {% endif %}
            <h1>{% render_model post "title" %}</h1>
        </header>
        <div class="blog-content">
            {% if use_placeholder %}{% render_placeholder post.content %}
            {% else %}{% render_model post "post_text" "post_text" %}
            {% endif %}
        </div>
    </article>
    {% addtoblock 'js' %}<script src="{% static 'js/zoom.js' %}"></script>{% endaddtoblock %}
{% endblock content_blog %}
