{% extends "advisor/base.html" %}

{% load i18n thumbnail cms_tags staticfiles %}


{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}


{% block content_blog %}
    <section class="blog-list">{% spaceless %}
        {% for post in post_list %}
            {% include "advisor/includes/item.html" with post=post image="true" %}
        {% empty %}
        <p class="blog-empty">{% trans "No article found." %}</p>
        {% endfor %}
        {% if author or archive_date or tagged_entries %}
        <p class="blog-back"><a href="{% url 'advisor:posts-latest' %}">{% trans "Back" %}</a></p>
        {% endif %}
        {% if is_paginated %}
        <nav class="{% firstof css_grid instance.css_grid %} pagination">
            {% if page_obj.has_previous %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %}</a>
            {% endif %}
            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "next" %} &raquo;</a>
            {% endif %}
        </nav>
        {% endif %}
    {% endspaceless %}</section>
{% endblock %}

