{% extends "advisor/base.html" %}

{% load i18n thumbnail cms_tags staticfiles %}



{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block content_blog %}
    <section class="blog-list">{% spaceless %}
        {% block blog_title %}
            <header>{% placeholder 'header_image' or %}
                <img src="{% static 'img/advisor_index.jpg' %}" width="690" height="215"/>
            {% endplaceholder %}</header>
        {% endblock %}
        <div class="search-query">{% trans 'Search results for' %} <q>{{ view.form.cleaned_data.query }}</q>:</div>{#  Suchergebnisse fur #}
        {% for post in post_list %}
            {% include "advisor/includes/item.html" with post=post image="false" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT num=forloop.counter %}
        {% empty %}
        <p class="blog-empty">{% trans "No article found." %}</p>
        {% endfor %}
        {% if author or archive_date or tagged_entries %}
        <p class="blog-back"><a href="{% url 'advisor:posts-latest' %}">{% trans "Back" %}</a></p>
        {% endif %}
        {% if is_paginated %}
        <nav class="{% firstof css_grid instance.css_grid %} pagination">
            {% if page_obj.has_previous %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %}</a>
            {% endif %}
            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "next" %} &raquo;</a>
            {% endif %}
        </nav>
        {% endif %}
    {% endspaceless %}</section>
{% endblock %}

