{% spaceless %}

    {% load i18n cache %}

    {% for child in children %}
        <li><a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>
        {% if forloop.counter|divisibleby:'5' %}</ul><ul>{% endif %}
    {% endfor %}

{% endspaceless %}
