{% extends 'base.html' %}

{% load menu_tags i18n cms_tags staticfiles sekizai_tags %}

{% block meta %}{% if meta %}
    {% include "meta_mixin/meta.html" %}
{% endif %}{% endblock %}

{% block base_header %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'css/advisor.css' %}" media="screen"/>
    {% endaddtoblock %}

    {% placeholder 'advisor_title' or %}<h1>Ratgeber</h1>{% endplaceholder %}
    <div class="lead">{% placeholder 'advisor_lead' or %}
        <p>Mit einem Trauerfall sind viele organisatorisch und rechtlich notwendige
            Schritte verbunden. Der Bestattungshelfer möchte Ihnen durch wichtige
            Informationen dabei helfen, die Bestattung vorzubereiten sowie
            Ansprechpartner und Literatur in der Situation der Trauer zu finden.</p>
    {% endplaceholder %}</div>

{% endblock %}

{% block content %}
    <div class="app app-advisor">
        <nav id="articles-menu" class="left-menu">
            <ul>{% show_menu 1 10 0 10 %}</ul>
        </nav>
        <div class="post-wrap">
            <article class="post-item post-detail">
                <header>
                    {% placeholder 'article_header' %}
                    <h1>{% page_attribute "page_title" %}</h1>
                </header>
                <div class="post-content">
                    {% placeholder 'article_content' %}
                </div>
            </article>
            <section class="addition">{% placeholder 'addition_content' %}</section>
        </div>
        {% addtoblock 'js' %}<script src="{% static 'js/zoom.js' %}"></script>{% endaddtoblock %}
        {% addtoblock 'js' %}<script src="{% static 'js/advisor.js' %}"></script>{% endaddtoblock %}
    </div>
{% endblock content %}
