<!doctype html>{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}
<html lang="{{ LANGUAGE_CODE }}"><head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
{#    <meta name="viewport" content="width=device-width,initial-scale=1"/>#}
    {% block meta %}{% endblock %}
    <title>{% block title %}BestattungShelfer24{% endblock title %}</title>
    <link rel="shortcut icon" href="{% url 'public' path='favicon_32.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'css/contents.css' %}" media="screen"/>
    {% render_block 'css' %}
    {% block extrastyle %}{% endblock %}
    {% include '.include/html_head_ie.html' %}
    <script>{% include '.include/settings.js' %}</script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/load_polyfills.js' %}"></script>
    {% render_block 'head_js' %}
    <script src="{% static 'cms/js/libs/jquery.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
</head><body>
    {% cms_toolbar %}
    <div class="all">
        <header class="main-header">
            <nav class="menu-top">
                <div class="logo">
                    <img class="svg" src="{% static 'img/logo_alt.svg' %}" usemap="#home-url"/>
                    <map id="home-url" name="home-url">
                        <area shape="default" type="text/html" href="{% url 'pages-root' %}"/>
                    </map>
                </div>
                <button id="show-nav-menu" type="button" class="menu-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul id="nav-menu" class="menu collapse">
                    <button id="hide-nav-menu" type="button" class="close"><span class="svg"><img src="{% static 'img/times.svg' %}"/></span></button>
                    <li class="nav-in"><a href="/">Startseite</a></li>
                    {% include '.include/menu_item.html' with page=request.current_page p_id='adv' %}
{#                    <li class="nav-out">{% block catalog_item_menu %}<span>{% trans 'Catalog' %}</span>{% endblock %}</li>#}
{#                    <li class="nav-out"><span>Blog</span></li>#}
                    <li class="login">{% if not user.is_authenticated %}
                        <a href="{% url 'auth:login' %}" data-modal-id="login">
                            <span class="w-1">{% trans 'Dienstleister' %}</span>
                            <span class="w-2">{% trans 'Login' %}</span>
                        </a>
                    {% else %}
                        {% if not user.is_superuser %}{% url 'profile_firms' as user_url %}
                        {% else %}{% url 'admin:index' as user_url %}{% endif %}
                        <a href="{{ user_url }}" class="user">
                            <span class="w-1">{{ user.get_full_name|default:user.email }}</span>
                            <span class="w-2">&blacktriangledown;</span>
                        </a>
                        <ul class="user-menu">
                            <li><a href="{% url 'auth:logout' %}?next=&#47;">logout</a></li>
                        </ul>
                        {# <span class="w-1"> | </span><a href="{% url 'auth:logout' %}?next=/" class="logout"> <span class="w-2">LOGOUT</span> </a> #}
                    {% endif %}</li>
                </ul>
                {% comment %}
                <div class="user-toolbar pull-right">{% spaceless %}

                {% endspaceless %}</div>
                {% endcomment %}
            </nav>
            {% block base_header %}{% endblock %}
        </header>
        {% block base_content %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="main-footer">{% block base_footer %}
        <footer>
            {% include '.include/footer_links.html' %}
        </footer>
    {% endblock %}</div>
    {% include '.include/overlay.html' %}
    <script src="{% static 'js/base.js' %}"></script>
    {% render_block 'js' %}
</body></html>
