{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <article class="simple-page">
        <header class="main-header">
            <h1>{% page_attribute "page_title" %}</h1>
            <div class="lead">{% placeholder page_header %}</div>
        </header>
        <div class="content"><div class="inner">
            {% placeholder "content" %}
        </div></div>
    </article>
{% endblock content %}
