{% extends 'base.html' %}{% load i18n cms_tags staticfiles sekizai_tags %}


{% block base_header %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'css/startpage.css' %}" media="screen"/>
    {% endaddtoblock %}

    <h1 class="fake">{% trans "We Help You" %}</h1>
    {% placeholder 'form' %}

{% endblock %}


{% block content %}
    <section class="first-teaser">
        <header class="section-header">
            <h1>{% placeholder 'first_teaser_title' or %}… mit unserer Kompetenz{% endplaceholder %}</h1> {# mit unserer Kompetenz #}
            <img class="sign" src="{% static 'img/feather.svg' %}" width="56" height="31" alt="feather"/>
            <div class="lead">
                {% placeholder 'first_teaser_text' or %}<p>
                    Mit einem Trauerfall sind viele organisatorisch und rechtlich notwendige
                    Schritte verbunden. Der Bestattungshelfer möchte Ihnen durch wichtige
                    Informationen dabei helfen, die Bestattung vorzubereiten sowie
                    Ansprechpartner und Orientierung in der Situation der Trauer zu finden.
                </p>{% endplaceholder %}
                <a class="btn-link" href="{% page_url 'adv' %}">Zum Ratgeber</a> {# trans 'to Advisor' #}
            </div>
        </header>
        <div class="section-content">
            {% placeholder 'first_teaser' %}
        </div>
    </section>
    <section class="second-teaser"></section>
    <section class="usefull">
        <header class="section-header">
            <h1>{% placeholder 'usefull_links_title' or %}… in Ihrer Nähe{% endplaceholder %}</h1>
        </header>
        <div class="section-content">
            <article class="box towns">
                <h3>Auch in Ihrer Stadt</h3>
                <p>Nach Eingabe Ihrer Postleitzahl oder Stadt erhalten Sie eine Übersicht von Bestattern, die in Ihrer Region tätig sind. Neben der Wahl zwischen.</p>
                <div class="links">{% url 'catalog:search' as srch_url %}
                    <a class="btn-link" href="{{ srch_url }}?query=Berlin">Berlin</a>
                    <a class="btn-link" href="{{ srch_url }}?query=Hamburg">Hamburg</a>
                    <a class="btn-link" href="{{ srch_url }}?query=Frankfurt%20am%20Main">Frankfurt am Main</a>
                    <a class="btn-link" href="{{ srch_url }}?query=K%C3%B6ln">Köln</a>
                    <a class="btn-link" href="{{ srch_url }}?query=Stuttgart">Stuttgart</a>
                </div>
            </article>
            <article class="box documents">
                <h3>Die wichtigsten Dokumente zum Download</h3>
                <p>Nach Eingabe Ihrer Postleitzahl oder Stadt erhalten Sie eine Übersicht.</p>
                <div class="links">
                    {% placeholder 'downloaded_files' or %}
                    <a class="btn-link" href="#">Checklisten</a>
                    <a class="btn-link" href="#">Testamente</a>
                    <a class="btn-link" href="#">Verfügungen</a>
                    <a class="btn-link" href="#">Kondolenzschreiben</a>
                    <a class="btn-link" href="#">Bestattungsgesetze</a>
                    {% endplaceholder %}
                </div>
            </article>
            <article class="box reg">
                <div class="pic"><img src="{% static 'img/for_login.jpg' %}" width="360" height="240"/></div>
                <h3>Bestatter Registrierung</h3>
                <p>Profitieren Sie von der kostenfreien Kunden-Gewinnung durch <a href="http://www.bestattungshelfer.de/">bestattungshelfer.de</a>. Registrieren Sie sich und pflegen Sie Ihr Firmenprofil in unserem Online-Branchenbuch.</p>
{#                <p>Wir sind ein Portal für Menschen mit einem Trauerfall. Wir haben es uns zur Aufgabe gemacht, Ihnen schnell und übersichtlich Leistungen.</p>#}
                <div class="links">
                    <a class="btn-link" href="{% url 'auth:login' %}" data-modal-id="login">Registrierung</a>
                </div>
            </article>
        </div>
    </section>

    {% addtoblock 'js' %}
        <script src="{% static 'js/home.js' %}"></script>
    {% endaddtoblock %}
{% endblock %}
