<figure class="col f">
    {% if view.template_name_suffix == '_detail' %}
        <a href="{{ company.google_de_map_url }}">{% include 'catalog/.include/map_img.html' %}</a>
    {% else %}
        {% include 'catalog/.include/map_img.html' %}
    {% endif %}
    <figcaption>
{#        <h3>{{ firm.title }}</h3>#}
        {% if company.street_house %}
            <address>{{ company.street_house }}, {{ company.postal_code }}&nbsp;{{ company.city }}</address>
        {% endif %}
        <address class="add-info">
            {% if company.website %}<div class="website">{{ company.website|cut:"http://" }}</div>{% endif %}
            {% if company.mail %}<div class="mail">{{ company.mail }}</div>{% endif %}
        </address>
        {% if company.phone %}
            <address class="phone">
            {% if user == company.user %}{{ company.phone }}
            {% else %}
            <div class="get-phone">
                <span id="company-{{ company.id }}-phone">{{ company.phone|truncatechars:7 }}</span><br/>
                <a class="req" href="{% url 'catalog:detail' slug=company.slug uid=company.uid %}" data-action="get_phone" data-firm="{{ company.id }}">Telefonnummer anzeigen</a>
            </div>
            {% endif %}
            </address>
        {% endif %}
    </figcaption>


</figure>
