            <ul class="footer-links">{% url 'search' as srch_url %}
                <li><ul>
                    <li><a href="{{ srch_url }}?query=Berlin">Bestattung in Berlin</a></li>
                    <li><a href="{{ srch_url }}?query=Hamburg">Bestattung in Hamburg</a></li>
                    <li><a href="{{ srch_url }}?query=M%C3%BCnchen">Bestattung in München</a></li>
                </ul></li>
                <li><ul>
                    <li><a href="{{ srch_url }}?query=K%C3%B6ln">Bestattung in Köln</a></li>
                    <li><a href="{{ srch_url }}?query=Frankfurt%20am%20Main">Bestattung in Frankfurt</a></li>
                    <li><a href="{{ srch_url }}?query=Stuttgart">Bestattung in Stuttgart</a></li>
                </ul></li>
                <li><ul>
                    <li><a href="{{ srch_url }}?query=D%C3%BCsseldorf">Bestattung in Düsseldorf</a></li>
                    <li><a href="{{ srch_url }}?query=Dortmund">Bestattung in Dortmund</a></li>
                    <li><a href="{{ srch_url }}?query=Essen">Bestattung in Essen</a></li>
                </ul></li>
                <li><ul>
                    <li><a class="mark" href="{% url 'about' %}">AGB & Datenschutz</a></li>
                    <li><a href="{% url 'imprint' %}">Impressum</a></li>
                    <li><a href="{% url 'contacts' %}">Kontakt & Service</a></li>
                </ul></li>
            </ul>
