{% load widget_tweaks form_utils %}
{{ field.errors }}
{% if field|widget_type in 'checkboxinput,radioinput' %}
    <div class="input-block {{ field|widget_type }}">
        {% render_field field %}
        {% render_label field %}
    </div>
{% else %}
    <div id="{{ field.html_name }}_block" class="input-block {{ field|widget_type }}">
        {% render_label field class=label_class %}
        {% if field|widget_type == 'textarea' %}
            {% render_field field placeholder=field.label class+='inp-text' cols='' rows='' %}
        {% elif field|widget_type == 'select' %}
            {% render_field field class+='inp-sel placeholder' %}
        {% else %}
            {% render_field field placeholder=field.label class+='inp-str' %}
        {% endif %}
    </div>
{% endif %}
