{% load staticfiles text_utils %}
{% for company in firms %}{# @type: Company #}
    <article class="search-item" id="company-{{ company.id }}">
        <header>
            <h1><a href="#company-{{ company.id }}" class="show-info">{{ company.title|split_title|safe }}</a></h1>
            <a href="#company-{{ company.id }}" class="distance show-info"><span>
                {% if company.distance %}<b>{{ company.distance }}&nbsp;km</b> entfernt
                {% else %}{{ company.city }}{% endif %}
            </span></a><br/>
            {% if company.mail %}<a class="btn contact" href="{{ company.get_contact_url }}">Kontakt aufnehmen</a>{% endif %}
{% comment %}
            {% if not view.is_gave_contact %}
                <button class="btn contact" data-modal-id="contact" data-firm-id="{{ company.id }}">Kontakt aufnehmen</button>
            {% else %}
                <a class="btn contact" href="{{ company.get_contact_url }}">Kontakt aufnehmen</a>
            {% endif %}
{% endcomment %}
        </header>
        <hr/>
        <div class="roll">
            <div class="info">
                {% include 'catalog/.include/contact_info.html' %}
                <div class="col s">
                    {% if company.description %}
                        {% with trunc_description=company.description|truncatewords_html:50 %}
                            {{ trunc_description|safe }}
                            {% if company.description|length > trunc_description|length %}
                                <div class="detail-link">
                                    <a href="{{ company.get_absolute_url }}">Weiter zur Detailseite</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <p>Keine Beschreibung vorhanden</p>
                    {% endif %}
                </div>
                <div class="col t">
                    {% include 'catalog/.include/logo.html' with logo=company.logo title=company.title %}
                    {% include 'catalog/.include/price_list.html' with price_list=company.price_list.all only %}
                </div>
            </div>
        </div>
        <footer>
            <a href="#company-{{ company.id }}" class="more show-info">Mehr Informationen</a>
        </footer>
    </article>
{% endfor %}
