{% spaceless %}{% load staticfiles %}
<figure class="org-logo">
    {% if logo %}
        <img src="{{ logo.url }}" title="{{ title }}"/>
    {% else %}
        <img src="{% static 'img/no-logo.png' %}" title="No logotip for «{{ title }}»"/>
    {% endif %}
</figure>
{% endspaceless %}
