{% for firm in firms %}
    <article class="search-item" id="company-{{ firm.id }}">
        <header>
            <h1><a href="{{ firm.get_absolute_url }}" class="show-info">{{ firm.title }}</a></h1>
            <a href="{{ firm.google_de_map_url }}" class="distance show-info"><span>{{ firm.city }}</span></a>
            <a class="btn contact" href="{{ firm.get_edit_url }}">Editieren</a>
        </header>
        <hr/>
    </article>
{% endfor %}
