<div class="pagination">
    <div class="count">{{ p_by }} Einträge pro Seite</div>
    <nav class="pages">{% spaceless %}
        <div class="icons l">
            {% if curr_num != 1 %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=1 cnt=p_by a_class='first icon' a_text='first' %}
            {% endif %}
            {% if page_obj.has_previous %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=page_obj.previous_page_number cnt=p_by a_class='prev icon' a_text='previous' %}
            {% endif %}
        </div>
        <ul>{% for p in paginator.page_range %}
            <li>{% if p != curr_num %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=p cnt=p_by a_class='' a_text=p %}
            {% else %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=p cnt=p_by a_class='curr' a_text=p %}
            {% endif %}</li>
        {% endfor %}</ul>
        <div class="icons r">
            {% if page_obj.has_next %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=page_obj.next_page_number cnt=p_by a_class='next icon' a_text='next' %}
            {% endif %}
            {% if curr_num != paginator.num_pages %}
                {% include 'catalog/.include/pagination_url.html' with query=view.uri_query num=paginator.num_pages cnt=p_by a_class='last icon' a_text='last' %}
            {% endif %}
        </div>
    {% endspaceless %}</nav>
</div>
