{% if price_list|length > 0 %}
    <div class="price">
        <h2>Preise</h2>
        <ul>{% for item in price_list %}
            <li>{{ item.title }}: ab&nbsp;{{ item.summa }} €</li>
        {% endfor %}</ul>
    </div>
{% endif %}
