@charset "UTF-8";
@import "vars";
@import "compass/css3";

input, button, select, textarea, a.btn {
  font: normal #{$control-font-size}/#{$control-line-height} Merriweather, serif;
  color: inherit;
}

.checkboxinput, .radioinput {
  position: relative;
  margin-bottom: 0.5em;
  line-height: $control-height;
}

%checkbox-and-radio {
  position: absolute;
  width: $control-width;
  height: $control-height;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  & + label {
    font-size: $text-font-size;
    color: lighten($base-font-color, 24%);
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    padding: 5px 0 0 39px;
    display: inline-block;
    text-align: left;
    min-height: 25px;
    white-space: nowrap;
    margin: 0 47px 9px 0;
    &::before {
      content: " ";
      display: inline-block;
      height: $control-height;
      width: $control-width;
      margin: 0;
      background: image_url("check_radio_inputs_2.png") no-repeat;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
    }
  }
}

.checkboxinput > input {
  @extend %checkbox-and-radio;
  & + label::before {
    background-position: 0 0;
  }
  &:focus + label::before {
    background-position: 0 (-1 *$control-height);
  }
  &:checked + label::before {
    background-position: (-1 * $control-width) 0;
  }
  &:checked:focus + label::before {
    background-position: (-1 * $control-width) (-1 * $control-height);
  }
  &:disabled + label::before {
    background-position: 0 (-2 * $control-height);
  }
  &:checked:disabled + label::before {
    background-position: (-1 * $control-width) (-2 * $control-height);
  }
}

.radioinput > input {
  @extend %checkbox-and-radio;
  & + label::before {
    background-position: (-2 * $control-width) 0;
  }
  &:focus + label::before {
    background-position: (-2 * $control-width) (-1 * $control-height);
  }
  &:checked + label::before {
    background-position: (-3 * $control-width) 0;
  }
  &:checked:focus + label::before {
    background-position: (-3 * $control-width) (-1 * $control-height);
  }
  &:disabled + label::before {
    background-position: (-2 * $control-width) (-2 * $control-height);
  }
  &:checked:disabled + label::before {
    background-position: (-3 * $control-width) (-2 * $control-height);
  }
}

.lbl-check {
}

option[disabled] {
  display: none;
  visibility: collapse;
}

select {
  & > option {
    color: $base-font-color;
  }
  &.placeholder {
    color: lighten($base-font-color, 40%);
  }
}

%control-p1 {
  border: 1px solid $control-brd-color;
  @include box-sizing(border-box);
  &:disabled {
    border-color: lighten($control-brd-color, 12%);
    color: lighten($base-font-color, 50%);
  }
  &:focus {
    border-color: darken($control-brd-color, 23%);
    outline: 0 none;
    @include box-shadow(inset 0 0 3px 0 #ccc);
  }
}

%control-p2 {
  min-height: 40px;
  line-height: $butt-line-height;
}

%control-p3 {
  @include border-radius($mk-radius);
  background: $textinp-bg-color;
  width: 100%;
}

.btn {
  @extend %control-p1;
  @extend %control-p2;
  padding: 8px 15px;
  display: inline-block;
  background: $button-bg-color;
  border-radius: $m-radius;
  // text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  @include user-select(none);
  margin: 20px 0 0;
  &[type=submit] {
    border-color: $submit-color;
    background-color: $submit-color;
    &:focus {
      border-color: darken($submit-color, 23%);
    }
  }
}

a.btn {
  text-decoration: none;
  color: inherit;
}

.inp-str {
  @extend %control-p1;
  @extend %control-p2;
  @extend %control-p3;
  padding: 8px 10px;
}

.inp-sel {
  @extend %control-p1;
  @extend %control-p2;
  @extend %control-p3;
  padding: 9px 20px;
}

.inp-text {
  @extend %control-p1;
  @extend %control-p3;
  padding: 8px 10px;
  resize: vertical;
}

.inp-row {
  margin-bottom: -2px;
  text-align: center;
  vertical-align: top;
}

.inputs-table {
  border-collapse: separate;
  width: 100%;
  td {
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  .checkboxinput label {
    margin: 0;
    padding: 5px 0 0 30px;
  }
}

.input-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
  .inp-str {
    margin: 0;
  }
  .lbl-text {
    font-size: $text-font-size;
    font-weight: $w-bold;
    display: inline-block;
    padding: 0 0 2px 15px;
    text-align: left;
    width: 100%;
    @include box-sizing(border-box);
  }
}

.sz-55 {
  width: 55.22727272727273%;
}

.sz-42 {
  width: 41.36363636363636%;
}

.sz-27 {
  width: 26.92307692307692%;
}

.sz-65 {
  width: 65.38461538461538%;
}

fieldset > legend {
  font-size: $text-font-size;
  font-weight: $w-bold;
  margin: 0 0 8px 0;
}

form {
  .help {
    font-size: $text-font-size;
    font-weight: $w-light;
    color: lighten($base-font-color, 40%);
    margin-bottom: 37px;
  }
  .errorlist {
    color: red;
    list-style: none;
    white-space: normal;
    word-spacing: normal;
    font-weight: $w-bold;
    li {
      text-align: left;
      a {
        color: inherit;
      }
    }
  }
}

*:-ms-input-placeholder {
  display: inline-block !important;
  color: lighten($base-font-color, 40%);
  overflow: hidden !important;
  /*pointer-events: none !important;*/
  resize: none !important;
}

%inp-group {
  position: inherit;
  display: table-cell;
  @include box-sizing(border-box);
}

%inp-group-brd {
  border-color: darken($control-brd-color, 20%);
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  .inp-str {
    @extend %inp-group;
    @extend %inp-group-brd;
    z-index: 2;
    float: left;
    width: 100%;
    border-radius: $m-radius 0 0 $m-radius;
    padding: 2px 20px;
    &:focus {
      outline: 0 none;
    }
  }
  .input-group-btn {
    @extend %inp-group;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    .btn {
      @extend %inp-group-brd;
      position: inherit;
      margin: 0 0 0 -1px;
      border-radius: 0 $m-radius $m-radius 0;
      padding: 15px 19px;
      &::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        background: transparent image_url('search_icon.svg') no-repeat;
        @include background-size(100%);
      }
    }
  }
}
