@charset "UTF-8";
@import "vars";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin pull-right {
  float: right !important;
}

@mixin pull-left {
  float: left !important;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin t-shadow {
  @include text-shadow(0 2px 2px rgba(0, 0, 0, 0.55));
}

@mixin page-width {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
  // @include box-sizing(border-box);
}

@mixin img-replace {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

/*
@mixin img-replace(p_url) {
  width: 350px;
  height: 75px;
  position: relative;
  &:before {
    // background: url("images/header-image.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
*/
