@charset "UTF-8";
@import "vars";
@import "compass/typography/text/ellipsis";
@import "compass/css3";
@import "breakpoint";
@import "mixins";

.plugin {
  font-size: 100%;
  padding-top: 13px;
  article {
    background: #fff;
    .visual > img {
      display: block;
      width: 100%;
      height: auto;
    }
    .lead {
      padding: 40px 33px;
      text-align: left;
      h1, p {
        margin-bottom: 20px;
        text-align: left;
      }
      h1 {
        font-size: 200%;
        @include ellipsis(true);
      }
      p {
        font-size: 140%;
        line-height: $text-line-height;
        font-weight: $w-light;
      }
      .text {
        max-height: 76px;
        @include ellipsis(false);
      }
      .read-more {
        margin: 32px 0 0;
        .btn-link {
          margin: 0;
        }
      }
    }
  }
  .latest-entry {
    margin: 0 0 24px;
  }
  .latest-entries-other {
    .post-item + .post-item{
      display: none;
    }
  }
}

@include breakpoint(601px) {
  .plugin {
    padding: 22px 56px;
    article {
      margin-bottom: 20px;
    }
    .latest-entry {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      .lead {
        .read-more .btn-link {
          display: inline-block;
          padding-left: 22px;
          padding-right: 22px;
        }
      }
    }
    .latest-entries-other {
      @include display-flex;
      @include justify-content(center);
      @include flex-wrap(wrap);
      .post-item {
        width: 300px;
        overflow: hidden;
        @include flex-shrink(0);
      }
      .post-item + .post-item {
        display: block;
        margin-left: 20px;
      }
    }
  }
}

@include breakpoint(941px) {
  .plugin {
    padding: 60px 0;

    .latest-entry {
      @include clearfix;
      @include page-width;
      max-width: none;
      max-height: 306px;
      overflow: hidden;
      margin-bottom: 20px;
      .visual {
        float: left;
        clear: left;
        margin-right: 40px;
        img {
          width: 459px;
          height: auto;
        }
      }
      .lead {
        padding: 26px 26px 26px 40px;
        // margin-left: 460px;
        h1 {
          font-size: 240%;
          line-height: 1.5833333;
        }
        .text {
          line-height: 1.5714286;
          max-height: 132px;
        }
        .read-more {
          margin: 20px 0 0 0;
        }

      }
    }
    .latest-entries-other {
      .post-item {
        .lead {
          padding: 30px;
          .text {
            font-size: 120%;
            font-weight: $w-light;
            margin-bottom: 18px;
            height: 72px;
            line-height: 1.5;
            @include ellipsis(false);
          }
        }
      }
    }
  }
}
