@charset "UTF-8";
@import "compass/css3/background-clip";
@import "compass/css3/text-shadow";
@import "vars";
@import "utils";


%img-replace {
  @include img-replace;
}

%container {
  background: #f4f4f4 image-url('content_bg_pattern.png');
  @include background-clip(padding-box);
  border-radius: $m-radius;
  border-top: 6px solid;
  border-bottom: 6px solid;

}

%white-text {
  color: #fff;
  @include t-shadow;
}

%head-text {
  font-style: italic;
  text-align: center;
}

%head-title {
  @extend %head-text;
  font-weight: $w-bold;
}
