@import "mixins";

.clearfix {
  @include clearfix;
}

.center-block {
  @include center-block;
}

.pull-right {
  @include pull-right;
}

.pull-left {
  @include pull-left;
}

.hide {
  display: none !important;
  visibility: collapse !important;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
