@charset "UTF-8";

$base-font-size: 10px;
$base-line-height: 1.35;
$base-font-color: #333;

$input-line-height: 1.375;
$butt-line-height: 1.53846153846153846em;

$base-bg-color: #fff;
$base-brd-color: #ccc;

$h1-font-size: 180%;
$h2-font-size: 160%;
$h3-font-size: 140%;
$h4-font-size: 130%;
$h5-font-size: 120%;


$text-font-size: 120%;
// 1.4285714
$text-line-height: $base-line-height * 1.058201037037037;

$m-radius: 3px;
$mk-radius: 2px;

$w-bold: 700;
$w-normal: 400;
$w-light: 300;

$page-width: 940px;

$footer-height: 201px;
$footer-bord-top: 7px;
$footer-pad-top: 16px;
$footer-pad-bott: 21px;

$control-font-size: 130%;
$control-line-height: 1.69231;
$control-width: 30px;
$control-height: 30px;
$button-bg-color: $base-brd-color;
$textinp-bg-color: $base-bg-color;
$control-brd-color: $base-brd-color;
$submit-color: #cfdcae;

