@charset "UTF-8";
@import "mixins";
@import "silent";
@import "utils";
@import "vars";
@import "breakpoint";
@import "compass/css3";
@import "compass/typography/text/ellipsis";
// @import "contents";

%white-bg {
  background: #fff;
}

.addition:empty {
  display: none;
  visibility: collapse;
}

.content {
  background: #ddd;
  padding: 20px 19px 60px;
  .app {
    .left-menu {
      margin-bottom: 19px;
      ul {
        @extend %white-bg;
        font-size: 140%;
        line-height: 3.0714286;
        padding: 0;
        ul {
          font-size: 100%;
          // display: none;
          // visibility: collapse;
        }
        //ul.unfold {
        //  display: block;
        //  visibility: visible;
        //}
      }
      li {
        a {
          padding: 1px 19px;
          position: relative;
          display: block;
          color: #888;
          font-weight: $w-normal;
          text-decoration: none;
          &:after {
            content: ' ';
            position: absolute;
            display: block;
            top: 17px;
            right: 19px;
            width: 18px;
            height: 10px;
            background: transparent image_url('shevron_down.svg') no-repeat;
            background-size: 100%;
          }
        }
        a:hover {
          color: #222;
        }
        & > ul {
          a {
            padding: 1px 31px;
            background: #f7f7f7;
            &:after {
              content: none;
              display: none;
            }
          }
        }
      }
      li.active, li.ancestor {
        & > a {
          color: #333;
          font-weight: $w-bold;
          &:after {
            background-image: image_url('shevron_up.svg');
          }
        }
      }
      li + li, ul ul li {
        border-top: 1px solid #eee;
      }
    }
    .post-item {
      @extend %white-bg;
      .visual {
        float: left;
        clear: left;
        img {
          display: block;
        }
        margin-right: 24px;
      }
      .lead {
        // margin-left: 300px;
        padding: 24px;
        h1, .text {
          margin-bottom: 18px;
        }
        h1 {
          font-size: 180%;
          line-height: 1.3333333;
          text-align: left;
          @include ellipsis(true);
        }
        .text {
          font-size: 120%;
          line-height: 1.5;
          font-weight: $w-light;
          p {
            max-height: 54px;
            @include ellipsis(false);
          }
        }
        .read-more {
          .btn-link {
            margin: 0;
            display: inline-block;
            // line-height: 36px;
          }
          // margin: 20px 0 0 0;
        }
      }

    }
    .addition {
      background: #fff;
      margin-top: 24px;
    }
  }
}

@include breakpoint(max-width 940px) {
  .content {
    .app {
      .left-menu {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        li {
          display: none;
          visibility: collapse;
        }
        li.active {
          display: list-item;
          visibility: visible;
        }
      }
      .left-menu.overmenu {
        position: absolute;
        z-index: 1000;
        width: 100%;
        max-width: 338px;
        left: 0; right: 0;
        margin-top: -65px;
        // height: 100%;
        // margin: 0;
        & > ul {
          margin: 0 19px;
          @include box-shadow(0 10px 32px 0 rgba(0, 0, 0, 0.45));
        }
        li {
          display: list-item;
          visibility: visible;
        }
      }
      .left-menu.overmenu + .post-detail {
        margin-top: 65px;
      }
    }
  }
}

@include breakpoint(max-width 340px) {
  .content {
    .app {
      .left-menu.overmenu {
        margin: 0 -19px;
        // margin-left: auto;
        // margin-right: auto;
      }
    }
  }
}

//.supp-no-svg {
//  .left-menu {
//    li.active::before {
//      background-image: image_url('feather_25x14.png');
//    }
//  }
//}

@include breakpoint(601px) {
  .content {
    // background: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
    .app {
      .left-menu {

      }
    }
  }
}


@include breakpoint(941px) {
  .content {
    .app {
      @include page-width;
      @include display-flex;
      & > .left-menu {
        @include flex-shrink(0);
        width: 300px;
        margin-right: 20px;

      }
      & > .blog-list {
        @include flex-grow(1);
        .post-item {
          max-height: 200px;
          overflow: hidden;
          margin-bottom: 20px;
        }
      }
      .addition {
        width: 620px;
      }
    }
  }
}
