@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "breakpoint";
@import "fonts";
@import "vars";
@import "silent";
@import "mixins";
@import "utils";
@import "controls";


html, body {
  width: 100%;
  height: 100%;
}

body {
  cursor: default;
  overflow-y: scroll;
  overflow-x: hidden;
  background: transparent 50% 0 no-repeat image_url('body_bg/0480.jpg');
  background-attachment: fixed !important;
  // background-origin: border-box;
  @include background-size(cover);
}

@include breakpoint(min-resolution 2dppx) {
  @include breakpoint(max-resolution 2.5dppx) {
    body {
      background-image: image_url('body_bg/1400.jpg');
    }
  }
}

@include breakpoint(min-resolution 3dppx) {
  @include breakpoint(max-resolution 3.5dppx) {
    body {
      background-image: image_url('body_bg/1920.jpg');
    }
  }
}

@include breakpoint(min-resolution 4dppx) {
  body {
    background-image: image_url('body_bg/2560.jpg');
  }
}


modal, .overlay {
  display: none;
  visibility: collapse;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-align: center;
  white-space: nowrap;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.all {
  width: 100%;
  margin-bottom: 60px;
  div:empty {
    display: none;
    visibility: collapse;
  }
  h1 {
    @extend %head-title;
    font-size: 240%;
  }
}
.all, .main-footer {
  a {
    color: inherit;
    text-decoration: none;
    font-weight: $w-normal;
  }
}
.main-footer {
  a {
    color: #666;
  }
  a:hover {
    color: #111;
  }
}

%padding {
  padding: 26px 18px 0;
}

.main-header {
  padding: 40px 40px 100px;
  h1 {
    @extend %white-text;
    margin-bottom: 10px;
  }
  h1.fake {
    display: none;
    visibility: collapse;
  }
  .lead {
    @extend %head-text;
    @extend %white-text;
    font-size: 140%;
    font-weight: $w-light;
  }
}

.menu-top {
  position: relative;
  margin-bottom: 55px;
  padding: 5px 1px 0;
  .logo {
    width: 178px;
    height: 75px;
    margin: 66px auto 0;
    padding: 2px 3px 4px;
    & > .svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .menu {
    padding: 23px 29px;
    li {
      a {
        display: block;
        line-height: 45px;
        font-size: 14px;
        padding: 0 23px;
      }
    }
  }
}

.close {
  @include img-replace;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 0 none;
  padding: 0;
  &:focus {
    outline: 0 none;
  }
}

@include breakpoint(max-width 940px) {
  .menu-top {
    .menu-toggle {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      padding: 0;
      background: transparent;
      .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        @include border-radius(1px);
        background: #fff;
        & + .icon-bar {
          margin-top: 3px;
        }
      }
    }
    .collapse {
      display: none;
      visibility: collapse;
    }
    .collapse.in {
      display: block;
      visibility: visible;
    }
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.5);
      .close {
        position: absolute;
        top: 38px;
        right: 44px;
        bottom: auto;
        left: auto;
        &:active {
          top: 39px;
        }
      }
      .nav-out {
        display: none;
      }
      & > li {
        background: #fff;
        border: 1px solid #aaa;
        & + li {
          border-top: none;
        }
      }
    }
  }
}

.content {
}

.main-footer {
  width: 100%;
  font-size: 140%;
  line-height: 2.9285714;
  background: #ddd;
  text-align: center;
  color: #666;
  footer {
    padding: 11px;
    div {
      font-size: 100%;
      margin: 0;
    }
  }
  a {
    // color: inherit;
    // text-decoration: none;
    font-weight: $w-normal;
  }
  .search-by-char {
    padding: 0 32px;
    & > span {
      display: block;
    }
    & > a {
      display: inline-block;
      padding: 0 13px;
    }
  }
}

.win {
  @extend %container;
  display: none;
  visibility: collapse;
  z-index: 1100;
  position: relative;
  width: auto;
  padding: 30px 13px 0;
  margin: 10px;
  overflow: auto;
  white-space: normal;
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: auto;
    left: auto;
    &:active {
      top: 9px;
    }
  }
  .lbl-check {
    white-space: normal;
    margin-right: 0;
  }
  .btn {
    margin: 0;
  }
  form {
    text-align: center;
    h2 {
      font-size: $h2-font-size;
      font-weight: $w-bold;
      text-transform: uppercase;
      line-height: 1.75;
      margin-bottom: 16px;
    }
    .help {
      font-size: 140%;
      font-weight: $w-light;
      line-height: 1.857142857143;
      margin-bottom: 18px;
    }
    .input-block {
      margin-bottom: 8px;
    }
    .inp-row {
      margin-bottom: 30px;
      vertical-align: middle;
      line-height: 40px;
      &:last-child {
        margin: 0;
      }
      &.justify {
        line-height: 20px;
        @include display-flex;
        @include justify-content(space-between);
      }
    }
    .checkboxinput > label {
      white-space: normal;
      font-size: 1em;
      padding: 0 0 0 ($control-width + 19);
      line-height: 1.6em;
      color: lighten($base-font-color, 24%);
      margin: 0;
    }
    .inp-str {
      font-size: $h2-font-size;
      line-height: 1.625em;
      padding: 5px 10px;
      min-height: 38px;
    }
    .btn {
      font-size: 1.2em;
      width: auto;
    }
  }
  .send-msg {
    .inp-row {
      padding: 0 55px;
    }
  }
  .sign-in {
    .btn {
      position: relative;
      background: $button-bg-color;
      line-height: $butt-line-height;
      color: $base-font-color;
      vertical-align: middle;
      padding: 9px 15px 7px;
    }
    .btn.remind {
      padding: 5px 10px 3px;
      font-size: 10px;
    }
    .btn[type=submit] {
      line-height: 1.8333333;
    }
  }
}

.show-modal {
  overflow: hidden !important;
  // body {
  // overflow: hidden !important;
  // }
  .overlay {
    display: block;
    visibility: visible;
    vertical-align: middle;
  }
  .win {
    // white-space: normal;
    display: inline-block;
    visibility: visible;
    // vertical-align: middle;
  }
}

@include breakpoint(601px) {

  body {
    background-image: image_url('body_bg/1400.jpg');
  }
  @include breakpoint(max-resolution 1.5dppx) {
    body {
      background-image: image_url('body_bg/1920.jpg');
    }
  }
  @include breakpoint(min-resolution 2dppx) {
    body {
      background-image: image_url('body_bg/2560.jpg');
    }
  }

  .all {
    @include box-sizing(border-box);
    h1 {
      font-size: 400%;
    }
  }
  .main-header {
    h1 {
      margin-bottom: 24px;
    }
    .lead {
      font-size: 180%;
      line-height: 1.4444444;
      // margin-bottom: 50px;
      padding: 0 170px;
    }
  }
  .main-footer {
    @include box-sizing(border-box);
    text-align: left;
    footer {
      padding: 40px 16px;
    }
    .columns {
      @include display-flex;
      @include justify-content(center);
      @include flex-wrap(wrap);
      margin-bottom: 21px;
      & > * {
        @include flex-shrink(0);
        width: 206px;
        padding: 8px 30px;
      }
    }
    .search-by-char {
      & > span {
        display: inline-block;
      }
      & > a {
        padding: 0 7px;
      }
    }
  }
  .win {
    width: 380px;
    padding: 60px 40px 33px;
    margin: 0;
    vertical-align: middle;
    .close {
      top: 18px;
      right: 18px;
      &:active {
        top: 19px;
      }
    }
    form {
      .help {
        margin-bottom: 30px;
      }
      .input-block {
        margin-bottom: 22px;
      }
      .inp-str {
        padding: 10px 20px;
      }
      .checkboxinput > label {
        line-height: 1.8em;
        margin: 0 47px 9px 0;
      }
      .btn {
        text-transform: uppercase;
        font-weight: $w-bold;
      }
    }
  }

  body.show-modal {
    .overlay {
      &::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
      .win {
        display: inline-block;
        visibility: visible;
      }
    }
  }

  .menu-top {
    @include clearfix;
    .logo {
      @include pull-left;
      width: 167px;
      height: 71px;
      margin: 0;
    }
    .menu {
      display: block;
      @include pull-right;
    }
  }
}

@include breakpoint(601px 940px) {
  .all {

  }
}

@include breakpoint(941px) {

  body {
    overflow: auto;
    background-image: image_url('body_bg/1920.jpg');
  }
  //.show-modal {
  //  // width: auto;
  //  margin-right: 17px;
  //  .overlay {
  //    overflow-y: scroll;
  //  }
  //}
  .all {
    min-height: 100%;
    padding-bottom: 211px + 60px;
    margin-bottom: 0;
  }
  .main-header{
    @include page-width;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
    h1 {
      font-size: 400%;
      line-height: 1.45;
      margin-top: 60px;
      margin-bottom: 16px;
    }
    .menu-top {
      margin-bottom: 40px;
    }
    .menu-toggle {
      display: none;
      visibility: collapse;
    }
    .menu {
      padding: 0;
      display: table;
      margin-top: 11px;
      font-size: 140%;
      line-height: 2.7142857;
      color: #fff;
      .close {
        display: none;
        visibility: collapse;
      }
      & > li {
        display: inline-block;
        padding: 1px 24px;
        opacity: 0.7;
        @include t-shadow;
        &.login {
          padding: 0;
          margin-left: 24px;
          position: relative;
          & > a {
            display: inline-block;
            padding: 1px 24px;
            border: 1px solid;
          }
          .user > .w-2 {
            font-size: 26px;
            line-height: 1;
            vertical-align: -4px;
          }
          .user-menu {
             display: none;
            text-align: center;
            position: absolute;
            left: 0; right: 0;
          }
          &:hover {
            .user-menu {
              display: block;
            }
          }
        }
        &.nav-in {
          display: none;
          visibility: collapse;
        }
        &.nav-out {
          display: inline-block;
          visibility: visible;
        }
        &:hover {
          opacity: 1;
        }
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .main-footer {
    height: 211px;
    padding-top: 30px;
    border-top: 1px solid #ececec;
    margin: -211px 0 0;
    font-size: 130%;
    line-height: 2.3076923;
    footer {
      @include page-width;
      padding: 0;
    }
    .columns {
      @include justify-content(space-between);
      & > * {
        width: 220px;
        padding: 0;
      }
    }
    .search-by-char {
      display: table;
      margin: 21px auto 39px;
      & > * {
        display: inline-block;
        padding: 0 6px;
      }
    }
  }
}
