@charset "UTF-8";
@import "compass/css3";
@import "breakpoint";
@import "silent";
@import "vars";
@import "mixins";


$l-r-pad: 21px;



.content {
  @extend %container;
  @include box-sizing(border-box);
  padding: 20px;
  width: 100%;

  h1, h2, h3, h4, h5 {
    font-weight: $w-bold;
    text-transform: uppercase;
  }

  h1 {
    font-size: 300%;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 21px;
  }

  form {
    margin-bottom: 21px;
  }

  .help {
    font-size: 115.3846%;
    line-height: 1.65;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 14px 0;
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      left: 0;
      bottom: -43px;
      margin: 0 auto;
      background: image-url('feather.svg') no-repeat;
      @include background-size(100%);
      width: 47px;
      height: 26px;
    }
  }

  & > h1 {
    font-size: 2.5em;
    line-height: 1.4;
    margin: 10px 0 18px;
  }

  .search-item, .detail {
    background: $base-bg-color;
    border-radius: $m-radius;
    padding: 23px $l-r-pad 0;
    & > header {
      margin-bottom: 30px;
      text-align: center;
    }
    h1 {
      font-size: $h1-font-size;
      line-height: 30px;
      margin-bottom: 17px;
      & > a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    hr {
      border: 0;
      border-bottom: 1px solid darken($base-brd-color, 2%);
      margin: 0 (-1*$l-r-pad);
    }
  }

  .return, .contact {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
  }
  .get-phone {
    padding: 8px 0;
    font-weight: $w-bold;
    a {
      font-weight: inherit;
      font-size: 110%;
      text-transform: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a.req {
      text-decoration: underline !important;
    }
  }

  & > .search {
    form {
      margin-bottom: 15px;
    }
    .inp-str, .input-group-btn > .btn {
      height: 58px;
      // margin: 0;
    }

    .inp-str {
      font-size: $h2-font-size;
      font-weight: $w_light;
    }
    .result {
      font-size: 130%;
      text-align: center;
      margin-bottom: 17px;
    }
  }

  .search-item {
    position: relative;
    margin-bottom: 25px;
    & > footer {
      margin: 0 (-1 * $l-r-pad);
      font-size: 1.2em;
      color: lighten($base-font-color, 17.5%);
      background-color: darken($base-bg-color, 12%);
      border-radius: 0 0 $m-radius $m-radius;
      height: 41px;
      &:hover {
        background-color: $base-brd-color;
      }
      .more {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 0;
        color: inherit;
        font-size: inherit;
        @include user-select(none);
        &:focus {
          outline: 0;
        }
        &:hover {
          background: transparent;
        }
        &::before, &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 16px;
          bottom: auto;
          width: 9px;
          height: 7px;
          background: image_url('caret_down.svg') no-repeat;
          @include background-size(100%);
        }
        &::before {
          right: auto;
          left: $l-r-pad;
        }
        &::after {
          right: $l-r-pad;
          left: auto;
        }
      }
      button.more {
        background: transparent;
        border: 0;
        cursor: pointer;
      }
      a.more {
        text-decoration: none;
        @include box-sizing(border-box);
        text-align: center;
        vertical-align: middle;
        padding: 10px 6px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    & > .open + footer {
      .more::before, .more::after {
        background-image: image_url('caret_up.svg');
      }
    }
    .detail-link {
      text-align: center;
      text-transform: uppercase;
      & > a {
        font-size: $h5-font-size;
        color: inherit;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid;
        &:hover {
          border-bottom-style: dashed;
        }
      }
    }
  }

  .backward {
    display: none;
    visibility: collapse;
  }

}

.distance {
  font-size: $text-font-size;
  font-weight: $w_light;
  text-align: center;
  margin-bottom: 28px;
  span {
    $span-height: round($base-font-size/1px * $base-line-height) + 0px;
    display: inline-block;
    height: $span-height;
    padding-left: 22px;
    background: transparent image_url('marker.svg') no-repeat;
    @include background-size(round($span-height / 75 * 50) $span-height);
  }
  b {
    font-weight: $w_bold;
  }
}

a.distance {
  color: inherit;
}

.info {
  padding-top: 20px;
  .col.f {
    margin-bottom: 28px;
  }
  .col.s {
    margin-bottom: 28px;
  }
  .col.t {
    margin-bottom: 36px;
    @include clearfix;
  }

  h2 {
    font-size: $h2-font-size;
    margin-bottom: 0.625em;
  }
  p {
    font-size: $text-font-size;
    font-weight: $w_light;
    margin-bottom: 1.384615384615385em;
  }
  figure {
    text-align: center;
    img {
      width: 100%;
      max-width: 340px;
      height: auto;
      margin: 0 auto 18px;
    }
    h3, address {
      font-size: 130%;
      text-transform: capitalize;
      a {
        text-transform: lowercase;
      }
    }
    address {
      font-style: normal;
    }
    .add-info {
      text-transform: none;
    }
  }
  .org-logo {
    float: left;
    width: 93px;
    margin-right: 16px;
    text-align: center;
    padding-top: 19px;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      margin: 0;
    }
  }
  .price {
    overflow: hidden;
    ul {
      line-height: $butt-line-height;
      font-size: $text-font-size;
    }
  }
}

.roll {
  overflow: hidden;
  height: 0;
  max-height: 0;
  margin: 0;
  & > .info {
    opacity: 0;
  }
  &.open {
    height: auto;
    max-height: 600px;
    & > .info {
      opacity: 1;
    }
  }
}

.anim {
  .roll {
    height: auto;
    @include animation(slide-up 1s ease-out);
    & > .info {
      @include animation(fade-in 2s ease);
    }
    &.open {
      @include animation(slide-down 1s ease-in);
      & > .info {
        @include animation(fade-out 2s ease);
      }
    }
  }
}

@include keyframes(slide-up) {
  0% {
    max-height: 600px;
  }
  100% {
    max-height: 0;
  }
}

@include keyframes(slide-down) {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 600px;
  }
}

@include keyframes(fade-in) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pagination {
  padding: 5px 10px;
  .count {
    display: none;
    visibility: collapse;
  }
  .pages {
    $icon-height: 19px;
    padding-top: $icon-height + 34;
    position: relative;
    .icons {
      position: absolute;
      width: 99px;
      height: $icon-height;
      top: 0;
      bottom: auto;
      &.l {
        left: 0;
        right: auto;
      }
      &.r {
        left: auto;
        right: 0;
      }
    }
    .icon {
      height: $icon-height;
      &.first, &.last {
        width: 28px;
      }
      &.first {
        margin-right: 50px;
      }
      &.last {
        margin-left: 50px;
      }
      &.prev, &.next {
        width: 17px;
      }
    }
    ul {
      vertical-align: middle;
      text-align: justify;
      font-size: 1.8em;
      line-height: 16px;
      &::after {
        content: ' ';
        display: inline-block;
        width: 100%;
        height: 0;
        line-height: 0;
        font: 0/0 a;
        //margin-top: -22px;
      }
    }
    li {
      display: inline-block;
      padding: 0 6px;
    }
    a {
      font-size: 100%;
      color: inherit;
      text-decoration: none;
      vertical-align: middle;
      &.curr {
        font-size: 1.538462em;
        font-weight: 700;
      }
    }
    .icon {
      @extend %img-replace;
      background: transparent no-repeat;
      display: inline-block;
      &.first, &.prev, &.next, &.last {
        @include background-size(100%);
      }
      &.first {
        background-image: image_url('caret_two_left.svg');
      }
      &.prev {
        background-image: image_url('caret_left.svg');
      }
      &.next {
        background-image: image_url('caret_right.svg');
      }
      &.last {
        background-image: image_url('caret_two_right.svg');
      }
    }
  }
}

.contact-form {
  border: 10px solid white;
  @include border-radius($m-radius);
  .cell-1 {
    padding: 20px 10px 40px;
    background: #ffffff;
    text-align: center;
    img {
      display: inline-block;
    }
    .logo {
      margin-bottom: 18px;
      img {
        max-height: 140px;
        max-width: 100%;
        width: auto;
        height: auto;
      }
      figcaption {
        h2 {
          display: inline-block;
          font-size: $h2-font-size;
          margin: 0;
          padding: 0;
        }
      }
    }
    h1 {
      font-size: $h1-font-size;
      line-height: 1.666666666667;
      text-transform: uppercase;
      margin-bottom: 0.777777777778em;
    }
    dl {
      font-size: 1.3em;
      margin: 0 0 26px 0;
      & > dt {
        display: none;
        visibility: collapse;
        font-weight: $w_bold;
      }
      & > dd {
        margin-bottom: 1.076923076923em;
      }
      & > dt:first-child + dd {
        font-weight: $w_bold;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .cell-2 {
    width: auto;
    padding: 20px 10px;
    h3 {
      font-size: $h3-font-size;
      margin-bottom: 0.5em;
    }
    p {
      font-size: $text-font-size;
      margin-bottom: 1em;
    }
  }
}

.search-article {
  display: none;
  visibility: collapse;
  position: absolute;
  width: 310px - 18px * 2;
  height: auto;
  border: 1px solid #ccc;
  border-top-width: 0;
  background: #fff;
  z-index: 100;
  @include box-shadow(0 6px 6px rgba(0, 0, 0, 0.2));
  top: 35px;
  left: 0;
  padding: 16px 18px;
  .input-group {
    .inp-str, .btn {
      height: 40px;
    }
  }
  .btn > span {
    color: #000;
  }
}

.show-form {
  position: relative;
  & > .search-article {
    display: inline-block;
    visibility: visible;
  }
}

$landscape: screen 401px 599px, (orientation landscape);
@include breakpoint($landscape) {
}

@include breakpoint(601px) {

  .all {
    @include box-sizing(border-box);
  }

  .content {
    .search-item, .detail {
      header {
        @include display-flex(flex);
        position: relative;
        min-height: 60px;
        vertical-align: middle;
        text-align: center;
        &::after {
          content: none;
          display: none;
        }
      }
      h1 {
        margin: auto;
        overflow: hidden;
      }
      .contact.get-phone {
        // line-height: 58px;
        font-size: 160%;
        margin-top: 0;
        padding: 19px 20px 18px;
        // font-weight: $w-bold;
        .phone {
          font-size: 100%;
          font-weight: inherit;
          // text-decoration: none;
        }
      }
    }
    .detail .return, .contact {
      position: absolute;
      top: 1px;
      bottom: auto;
      max-width: 134px;
      margin: 0;
    }
    .detail .return {
      left: 0;
      right: auto;
    }
    .contact {
      right: 0;
      left: auto;
    }
    .distance {
      position: absolute;
      margin: 0;
      width: 80px;
      font-size: 140%;
      line-height: 1.428571428571em;
      display: inline-block;
      padding-top: 38px;
      background: image_url('marker.svg') transparent no-repeat 50% 0;
      @include background-size(24px 34px);
      span {
        height: auto;
        padding-left: 0;
        background: transparent;
      }
    }
    .backward {
      display: inline-block;
      visibility: visible;
    }
  }

  .info {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 40px 0 29px;
    .col {
      display: table-cell;
      vertical-align: top;
      text-align: center;
      &.f {
        width: 220px;
        &:last-child {
          img {
            float: left;
            margin: 0 20px 20px 0;
          }
          figcaption {
            overflow: hidden;
            text-align: left;
          }
        }
      }
      &.s {
        width: auto;
        padding: 0 20px;
        text-align: left;
      }
      &.t {
        width: 138px;
        &::before {
          content: none;
          display: none;
        }
        &::after {
          content: none;
          display: none;
        }
      }
    }
    .org-logo {
      float: none;
      width: inherit;
      margin-right: 0;
      padding-top: 0;
    }
  }

  .contact-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
    .cell-1, .cell-2 {
      display: table-cell;
      border: 20px solid #fff;
      border-top-width: 42px;
      border-bottom-width: 30px;
      vertical-align: top;
    }
    .cell-1 {
      border-right-width: 10px;
      width: 240px;
      padding: 0;
      background: $base-bg-color;
      text-align: center;
      @include border-top-left-radius($m-radius);
      @include border-bottom-left-radius($m-radius);
      address {
        font-style: normal;
      }
      .map {
        width: 100%;
        height: auto;
      }
    }
    .cell-2 {
      position: relative;
      @include border-top-right-radius($m-radius);
      @include border-bottom-right-radius($m-radius);
    }
    .inp-text {
      height: auto;
    }
  }

  .pagination {
    position: relative;
    padding: 0 190px;
    font-size: 1.3em;
    margin: -7px 0 9px;
    .count {
      display: block;
      visibility: visible;
      position: absolute;
      top: 7px;
      right: auto;
      bottom: auto;
      left: 24px;
      padding-left: 19px;
      background: transparent image_url('caret_down_black.svg') no-repeat 0 7px;
      background-size: 8px 7px;
    }
    .pages {
      text-align: center;
      position: static;
      padding-top: 0;
      .icons, ul {
        display: inline-block;
      }
      .icons {
        line-height: 22px;
        position: static;
        width: auto;
        height: auto;
        vertical-align: middle;
        &.l {
          margin-right: 5px;
        }
        &.r {
          margin-left: 9px;
        }
      }
      ul {
        font-size: inherit;
        &::after {
          content: none;
          display: none;
        }
      }
      .icon {
        height: 8px;
        margin: 0 1px;
        //vertical-align: 10px;
        &.first, &.last {
          width: 12px;
        }
        &.prev, &.next {
          width: 7px;
        }
        &.first, &.prev {
          margin-right: 3px;
        }
        &.next, &.last {
          margin-left: 3px;
        }
      }
    }
  }

}

@include breakpoint(601px 940px) {

  .all {
    padding: 0 20px;
    margin-bottom: 66px;
  }
  .content {
    & > .search {
      padding-top: 30px;
      & > header {
        padding: 0 95px;
        margin-bottom: 28px;
        form {
          margin-bottom: 34px;
        }
      }
    }
    .search-item {
      padding-top: 28px;
      margin-bottom: 28px;
      header {
        margin-bottom: 28px;
      }
      .detail-link {
        text-align: left;
      }
    }
    .distance {
      top: -10px;
      right: auto;
      bottom: auto;
      left: 7px;
    }
  }

  .contact-form {
    .cell-2 {
      padding: 20px;
    }
  }

}

@include breakpoint(941px) {
  $l-r-pad: 39px;

  .all {
    min-height: 100%;
    padding-bottom: 250px + 43px;
    margin-bottom: 0;
  }

  .content {
    @include page-width;
    padding: 43px 17px;
    h1 {
      font-size: 307.6923%;
    }
    .help {
      font-size: 123.0769%;
      text-align: center;
      margin-bottom: 115px;
      &::after {
        height: 30px;
        width: 56px;
        bottom: -74px;
      }
    }
    & > .search {
      margin: -18px 0 0 0;
      form {
        max-width: 500px;
        margin: 0 auto 35px;
      }
      .result {
        margin-bottom: 27px;
      }
    }
    .search-item {
      padding: 29px $l-r-pad 0;
      margin-bottom: 30px;
      & > header {
        margin-bottom: 26px;
        padding: 0 197px;
      }
      hr {
        margin: 0 (-1*$l-r-pad);
      }
      .info {
        margin-bottom: 53px;
      }
      .detail-link {
        text-align: right;
      }
      footer {
        margin: 0 (-1 * $l-r-pad);
        .more {
          &::before {
            left: $l-r-pad;
          }
          &::after {
            right: $l-r-pad;
          }
        }
      }
    }
    .distance {
      top: -11px;
      right: auto;
      bottom: auto;
      left: 4px;
    }

    .quick-links {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);

      a {
        color: inherit;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      article {
        @include box-sizing(border-box);
        // padding: 0 17px;
        &.col-1 {
          width: 29.4702%;
        }
        &.col-2 {
          width: 18.7638%;
        }
        &.col-3 {
          width: 45.36424%;
          h1 {
            text-align: center;
          }
        }
        h1 {
          font-size: 123.076923%;
          padding: 15px 17px 12px;
          // margin: 0 -17px;
          margin-bottom: 9px;
          background: #fff;
          text-align: left;
        }
        ul {
          line-height: 2.3077;
          padding: 0 17px 0 31px;
          li {
            padding-left: 11px;
          }
        }
        .img-clip {
          margin-top: -9px;
        }
      }
    }
    .search.manager {
      .search-item > header {
        padding: 0 0 0 120px;
        h1 {
          margin: auto 0;
          text-align: left;
        }
      }
    }

    & > .simple-page {
      padding: 0 30px 15px;
      background-color: transparent;
      .columns {
        @include columns(380px 2);
        @include column-gap(60px);
      }
      p {
        text-align: justify;
        @include hyphens(auto);
        font-size: $text-font-size;
        font-weight: 200;
        margin-bottom: 1.230769230769em;
      }
      .copyright {
        color: lighten($base-font-color, 24%);
        text-align: center;
        margin: 130px 0 2px;
        font-size: $h5-font-size;
      }
      h2, h3, .copyright {
        @include column-span(all);
      }
      h2 {
        font-size: $h2-font-size;
        line-height: 1.875;
        margin: 0 0 1em 0;
      }
      p + h2 {
        margin-top: 1.8125em;
      }
    }
  }

  .pagination {
    padding: 0 210px;
    .pages {
      .icons.l {
        margin-right: 7px;
      }
      .icons.r {
        margin-left: 11px;
      }
      .icon {
        margin: 0 3px;
        &.first, &.prev {
          margin-right: 5px;
        }
        &.next, &.last {
          margin-left: 5px;
        }
      }

    }
  }
  .info {
    .col.s {
      padding: 0 $l-r-pad;
    }
    h2 {
      margin-bottom: 0.9375em;
    }
    p {
      margin-bottom: 1.846154em;
    }
    figure {
      img {
        width: 220px;
        margin-bottom: 26px;
      }
    }
    .org-logo {
      margin-bottom: 21px;
    }
    .price {
      ul {
        & > li {
          margin-bottom: $butt-line-height;
        }
      }
    }
  }

  .contact-form {
    .cell-1, .cell-2 {
      border: 30px solid #fff;
    }
    .cell-1 {
      //      padding: 12px 0 0 30px;
      width: 260px;
      border-right-width: 0;
    }
    .cell-2 {
      padding: 30px;
      //      border-top-width: 42px;
    }
  }
  .profile-form {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    .left, .right {
      display: table-cell;
      border: 30px solid transparent;
      vertical-align: top;
    }
    .left {
      width: 260px;
      text-align: center;
    }
    .right {
      width: auto;
    }
    .inp-str, .inp-sel, .inp-text {
      padding: 9px 14px;
    }
    .inp-text {
      height: 414px;
    }
    #postal_code_block {
      width: 26.92307692307692%;
    }
    #city_block {
      width: 65.38461538461538%;
    }
  }

  .logo-upload {
    position: relative;
    margin: 0 auto 36px;
    width: 150px;
    height: 150px;
    background-color: $base-bg-color;
    border: 1px solid darken($base-brd-color, 4.5%);
    @include border-radius($m-radius);
    cursor: pointer;
    overflow: hidden;
    .logo, .inp-file, .lbl-file {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .logo {
      max-height: 150px;
      max-width: 150px;
      margin: auto;
    }
    .inp-file {
      width: 100%;
      height: 100%;
      @include opacity(0);
      z-index: 20;
      @include user-select(none);
      cursor: pointer;
    }
    .lbl-file {
      top: auto;
      z-index: 30;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      background: #000;
      visibility: hidden;
      @include opacity(0);
      color: #fff;
      font-size: $text-font-size;
      text-transform: uppercase;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
    }
    .inp-file:hover + .lbl-file, .lbl-file:hover {
      visibility: visible;
      @include opacity(0.6);
    }
  }

  .input-group {
    .input-group-btn {
      .btn {
        vertical-align: middle;
        border-left-width: 0;
        &::before {
          content: none;
          display: none;
        }
        span {
          vertical-align: -8px;
          font-size: 14px;
          line-height: inherit;
          display: inline;
          visibility: visible;
        }
      }
    }
  }

}
