@charset "UTF-8";
@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "breakpoint";
@import "vars";
@import "mixins";
@import "utils";

body {
  font: normal $w-light #{$base-font-size}/#{$base-line-height} Merriweather, serif;
  color: $base-font-color
}

.post-detail {
  h1, h2, p, blockquote, div {
    line-height: $text-line-height;
    margin: 0 0 5px;
  }
  h1, h2, h3 {
    font-weight: $w-bold;
  }
  h1 {
    text-align: left;
    font-size: 240%;
  }
  h2 {
    font-size: 140%;
  }
  h3 {
    font-size: 130%;
  }
  p, blockquote, ul, ol {
    font-size: $text-font-size;
    // font-weight: $w-light;
  }
  ul ul, ul ol, ol ul, ol ol {
    font-size: 100%;
  }
  ul, ol {
    margin: 1em 0;
    padding-left: 30px;
    list-style-position: outside;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  blockquote {
    font-style: italic;
    position: relative;
    padding: 14px 0 9px;
    &::before {
      content: "“";
      display: inline-block;
      font-size: 240%;
      font-weight: $w-bold;
      position: absolute;
      top: -2px;
    }
    p {
      text-indent: 20px;
    }
  }
  em {
    font-style: italic;
    font-weight: $w-normal;
  }
  strong {
    font-style: normal;
    font-weight: $w-bold;
  }
  header {
    img {
      max-width: 100%;
      height: auto;
    }
    h1 {
      padding: 0;
    }
  }
  .post-content {
    padding: 20px;
  }
}

.all, .post-detail {
  .centered {
    text-align: center;
  }
  .btn-link {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    display: block;
    width: auto;
    min-width: 134px;
    max-width: 244px;
    margin: 19px auto;
    border: 1px solid;
    text-align: center;
    padding: 12px;
    @include user-select(none);
    @include ellipsis;
    a {
      color: #666;
      text-decoration: none;
    }
    a:hover {
      color: #111;
    }
  }
  .btn-link + .btn-link {
    margin-left: 0;
  }
  a.btn-link:hover {
    color: #111;
  }
}

.post-detail p {
  .btn-link {
    display: inline-block;
    width: 210px;
  }
}


.post-detail.cke_show_blocks {
  padding: 22px 39px 30px 31px;
  width: 550px;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
  color: #333;
  font-size: 120%;
  font-weight: $w-light;
  td, th {
    padding: 9px 20px;
    border: 1px solid #eee;
  }
  td {
    text-align: left;
  }
  th {
    text-align: center;
    font-weight: $w-bold;
    background: #fff;
  }
  tbody {
    tr:nth-child(odd) {
      background: #f7f7f7;
    }
    tr:nth-child(even) {
      background: #fdfdfd;
    }
    tr:hover:nth-child(odd) {
      background: #cfddac;
    }
    tr:hover:nth-child(even) {
      background: #f4f19b;
    }
  }
}

div.zoom {
  position: relative;
  img {
    display: block;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
  }
  &::before {
    content: "+";
    position: absolute;
    display: inline-block;
    color: #333;
    font-weight: $w-normal;
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
    line-height: 27px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
  }
}
div.zoom:hover {
  &::before {
    display: none;
  }
}
div.zoom.center-block {
  text-align: center;
  img {
    display: inline-block;
    margin-bottom: -4px;
  }
}
div.zoom.pull-right {
  margin-left: 10px;
  margin-bottom: 10px;
}
div.zoom.pull-left {
  margin-right: 10px;
  margin-bottom: 10px;
}


.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  @include transition(all 300ms);
}

img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  // filter: "alpha(opacity=0)";
  // opacity: 0;
  @include transition(background-color 300ms);
}

.zoom-overlay-open .zoom-overlay {
  //filter: "alpha(opacity=100)";
  // opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

@include breakpoint(601px) {
  .post-detail {
    width: 540px;
    margin: 0 auto;
    padding: 31px 40px;
    header {
      img {
        display: block;
        margin: -31px -40px 31px -40px;
        max-width: none;
      }
    }
    .post-content {
      padding: 0;
    }
  }
}

@include breakpoint(941px) {
  .all {
    .btn-link {
      margin: 8px 20px;
      // min-width: 130px;
      // max-width: 240px;
      // padding: 0 30px;
      // line-height: 2.7142857;

    }
  }
  .simple-page {
    .content {
      background: #ddd;
      padding: 26px 18px 24px;
      & > .inner {
        @include page-width;
        padding: 31px 40px;
        font-size: $text-font-size;
        line-height: $text-line-height;
        background: #fff;
      }
    }
  }
}
