@charset "UTF-8";
@import "compass/css3";
@import "compass/typography/text/ellipsis";
@import "breakpoint";
@import "vars";
@import "silent";
@import "plugin";
@import "mixins";

%padding {
  padding: 26px 18px 24px;
}

.main-header {
  .search-form {
    display: table;
    width: 100%;
    margin: 55px 0 -3px;
    padding: 0 1px;
    label {
      @extend %head-title;
      @extend %white-text;
      font-size: 240%;
      display: block;
      line-height: 1.4166667;  // ~ 34px
      margin-bottom: 10px;
    }
    .input-group {
      display: inline-table;
      // vertical-align: -15px;
      .inp-str, .btn {
        height: 34px;
        font-size: 12px;
        // line-height: 34px;
      }
      .inp-str {
        // padding: 6px 28px 0;
        border-color: #fff;
        font-weight: $w-light;
        &:focus {
          @include box-shadow(none);
          border-color: #fff;
        }
      }
      .btn {
        padding: 9px 20px 9px 19px;
        background: #cfddac;
        border-color: #cfddac;
        position: relative;
        font-size: 1px;
        font-weight: $w-normal;
        color: transparent;
        width: 61px;
        &:before {
          content: ' ';
          position: absolute;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: image_url('search_icon.svg');
          top: 9px;
          left: 19px;
        }
      }
    }
  }
}

.content {
  h1 {
    @extend %head-title;
  }
  & > section {
    @extend %padding;
  }
  & > section:empty {
    display: none;
  }
}

.first-teaser {
  background: #ddd;
  .section-header {
    margin-bottom: 10px;
    h1 {
      color: inherit;
      margin-bottom: 18px;
    }
    .sign {
      display: block;
      margin: 0 auto;
      width: 33px;
      height: 18px;
    }
    .lead {
      font-weight: $w-light;
      font-style: italic;
      text-align: center;
      padding: 26px - 18px;
      p {
        font-size: 140%;
      }
      a.btn-link {
        font-style: normal;
        font-weight: $w-normal;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.usefull {
  .section-header {
    padding: 14px 0;
    h1 {
      @extend %white-text;
      margin-bottom: 14px;
    }
  }
  .section-content {
    & > .box {
      background: #fff;
      padding: 31px 34px;
      margin: 0 0 24px;
    }
    h3 {
      @extend %head-title;
      font-size: 200%;
      margin: 7px 0 20px
    }
    p {
      font-size: 140%;
      font-weight: $w-light;
      line-height: $text-line-height;
      margin: 0 0 38px;
    }
    .reg {
      margin-bottom: 0;
      .pic {
        margin: -31px -34px 31px -34px;
        & > img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    .links {
      .btn-link {
        margin: 0 auto;
      }
      .btn-link + .btn-link {
        margin-top: 9px;
      }
    }
  }
}

@include breakpoint(601px) {
  .main-header {
    .search-form {
      margin: 100px auto 80px;
      max-width: 500px;
      label {
        font-size: 400%;
        line-height: 1.45;
      }
      .input-group {
        .inp-str, .btn {
          height: 58px;
          font-size: 14px;
        }
        .btn {
          width: auto;
          color: inherit;
          &:before {
            display: none;
            content: none;
          }
        }
      }
    }
  }
  .first-teaser {
    .section-header {
      .sign {
        width: 56px;
        height: 31px;
        margin-bottom: 30px;
      }
      .lead {
        width: 616px;
        margin: 0 auto;
        p {
          font-size: 180%;
        }
      }
    }
  }
  .usefull {
    .section-header {
      padding: 40px 0 30px;
    }
    .section-content {
      @include display-flex;
      @include justify-content(center);
      @include flex-wrap(wrap);
      & > .box {
        width: 300px;
        padding: 30px;
        @include flex-shrink(0);
        @include box-sizing(border-box);
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-between);
      }
      & > .box + .box {
        margin-left: 20px;
      }
      .reg {
        .pic {
          margin: -30px -30px 30px -30px;
        }
      }
    }
  }
}

@include breakpoint(941px) {

  .main-header {
    .search-form {
      width: auto;
      max-width: none;
      vertical-align: middle;
      label, .input-group {
        padding: 0 8px;
      }
      label {
        font-size: 400%;
        display: table-cell;
        margin-bottom: 0;
        vertical-align: top;
      }
      .input-group {
        max-width: 500px;
        vertical-align: top;
        .inp-str {
          width: 400px;
        }
      }
    }
  }
  .section-header {
    @include page-width;
    h1 {
      font-size: 400%;
    }
  }
  .section-content {
    @include page-width;
  }
  .first-teaser {
    padding-top: 50px;
    padding-bottom: 40px;
    .section-header {
      h1 {
        margin-bottom: 32px;
      }
      .sign {
        width: 56px;
        height: 31px;
        margin-bottom: 24px;
      }
      & > .lead {
        line-height: 1.4444444;
        p {
          // margin-top: 32px;
          margin-bottom: 32px;
        }
        .btn-link {
          width: 180px;
        }
      }
    }
    //.section-content {
    //}
  }
  .usefull {
    .section-header {
      padding: 52px 0 43px;
    }
    .section-content {
      @include flex-wrap(no-wrap);
      & > .box {
        margin-bottom: 0;
      }
      h3 {
        font-size: 180%;
        line-height: 1.3333333;
        margin: 0 0 18px;
        text-align: left;
      }
      p {
        font-size: 120%;
        line-height: 1.5;
        margin-bottom: 24px;
      }
    }
  }
}
