{% extends 'catalog/base.html' %}

{% load staticfiles %}

{% block content %}
    <h1 class="firm-title">{{ view.firm.title }}</h1>
    <div class="contact-form">
        <aside class="cell-1">{% with company=view.firm %}
            <figure class="logo">
                {% if company.logo %}<img src="{{ company.logo.url }}" title="{{ company.title }}" width="{{ company.logo.width }}" height="{{ company.logo.height }}"/>
                {% else %}<img src="{% static 'img/no-logo.png' %}" title="No logotip for: {{ company.title }}" width="138" height="122"/>{% endif %}
            </figure>
            <dl>
                <dt>Anschrift</dt>
                <dd><address title="{{ company.full_addr }}">{{ company.street_house }}</address></dd>
                {% if company.phone %}
                <dt>Telefon</dt>
                <dd class="get-phone">
                    <span id="company-{{ company.id }}-phone">{{ company.phone|truncatechars:7 }}</span><br/>
                    <a class="req" href="" data-action="get_phone" data-firm="{{ company.id }}">
                        Telefonnummer anzeigen
                    </a>
                </dd>
                {% endif %}
                {% if company.website %}
                <dt>Website</dt>
                <dd>{{ company.website }}</dd>
                {% endif %}
                {% if company.mail %}
                <dt>E-Mail</dt>
                <dd>{{ company.mail }}</dd>
                {% endif %}
            </dl>
            <a href="{{ company.google_de_map_url }}" target="_blank">
                <img class="map" src="{{ company.google_static_map_url }}" width="220" height="166" title="{{ company.full_addr }}"/>
            </a>
        {% endwith %}</aside>
        {% if form_valid %}
        <div class="cell-2">
            <h3>Message sent!</h3>
            <p>Your message was sent successfully, you can now return to the search page by clicking on this button.</p>
            <a href="{{ search_url }}" class="btn">Return.</a>
        </div>
        {% else %}
        <form id="contact-form" class="cell-2" action="" method="post" name="{{ form.html_name }}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {{ form.non_fields_errors }}
            <div class="inputs-list">{% for fld in form.visible_fields %}
                {% spaceless %}
                    {% include 'catalog/.include/input_block.html' with field=fld label_class='sr-only' %}
                {% endspaceless %}
            {% endfor %}</div>
            <div class="inp-row justify">
                <button type="button" class="btn backward">Zur Übersicht</button>
                <button type="submit" class="btn">ANFRAGE ABSENDEN</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    var FuneralFinderNS = FuneralFinderNS || {};
    (function (win) {
        var body = win.document.body;
        var urls = FuneralFinderNS.urls;
        var ajax = FuneralFinderNS.ajax;
        setTimeout(function () {
            var frm = document.getElementById('contact-form');
            var sourceFormHeight = parseInt(frm.clientHeight);
            var txt = document.getElementById('id_message');
            while (parseInt(frm.clientHeight) == sourceFormHeight) {
                txt.style.height = (parseInt(txt.offsetHeight) + 1) + 'px';
            }
            txt.style.height = (txt.offsetHeight - 1) + 'px';
        }, 1500);
    })(window);
</script>
{% endblock %}
