{% extends 'catalog/base.html' %}

{% load staticfiles text_utils sekizai_tags %}

{% block content %}
    <article class="detail">
        <header>
            <h1>{{ company.title|split_title|safe }}</h1>
            <button class="btn return">Zurück zur<br/>Übersicht</button>
            {% if user == company.user %}
            <a class="btn contact" href="{{ company.get_edit_url }}">Editieren</a>
{#            {% elif view.is_gave_contact %}#}
            {% else %}
                <a class="btn contact" href="{{ company.get_contact_url }}">Kontakt aufnehmen</a>
{#                <button class="btn contact" data-modal-id="contact" data-firm-id="{{ company.id }}">Kontakt aufnehmen</button>#}
            {% endif %}
        </header>
        <hr/>
        <div class="info">
            {% include 'catalog/.include/contact_info.html' %}
{#            <figure class="col f">#}
{#                <a href="{{ firm.google_de_map_url }}"><img src="{{ firm.google_static_map_url }}" width="220" height="166"/></a>#}
{#                <figcaption>#}
{#                    <h3>{{ firm.title }}</h3>#}
{#                    {% if firm.street_house %}<address>{{ firm.street_house }}<br/> {{ firm.postal_code }}&nbsp;{{ firm.city }}</address>{% endif %}#}
{#                </figcaption>#}
{#            </figure>#}
            <div class="col s">
                {{ company.description|safe|default_if_none:"Keine Beschreibung vorhanden" }}
            </div>
            <div class="col t">
                {% include 'catalog/.include/logo.html' with logo=company.logo title=company.title %}
                {% include 'catalog/.include/price_list.html' with price_list=company.price_list.all only %}
            </div>
        </div>
    </article>
    {% addtoblock 'js' %}
        <script src="{% static 'js/search_details.js' %}"></script>
    {% endaddtoblock %}
{% endblock %}

{% comment %}
{% block scripts %}
<script>

</script>
{% endblock %}
{% endcomment %}
