{% extends 'catalog/base.html' %}

{% load staticfiles widget_tweaks form_utils cms_tags sekizai_tags %}

{% block page_header %}<h1>Profil Einstellungen</h1>{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" class="profile-form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {{ form.non_fields_errors }}
        <div class="left">
            <div class="logo-upload">
                <img class="logo" id="logo-upload-img" src="{% if firm.logo %}{{ firm.logo.url }}{% else %}{% static 'img/no-logo.png' %}{% endif %}"/>
                <input type="file" class="inp-file" id="{{ form.logo.auto_id }}" name="{{ form.logo.html_name }}"/>
                {% render_label form.logo class='lbl-file' %}
            </div>
            <div class="inputs-list">{% for fld in form.visible_fields %}
                {% if fld.html_name not in 'logo,description' %}
                {% spaceless %}
                    {% include 'catalog/.include/input_block.html' with field=fld label_class='lbl-text' %}
                {% endspaceless %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="right">
            {{ price_formset.management_form }}
            <table class="inputs-table">{% for pf in price_formset %}<tr>
                <td class="checkboxinput">
                    {% for fld in pf.hidden_fields %}{{ fld }}{% endfor %}
                    {% render_field pf.active %}
                    {% render_label pf.active %}
                </td><td>
                    {% render_label pf.title class='sr-only' %}
                    {% render_field pf.title placeholder=pf.title.label class+='inp-str' %}
                </td><td>
                    {% render_label pf.summa class='sr-only' %}
                    {% render_field pf.summa placeholder=pf.summa.label class+='inp-str' %}
                </td>
            </tr>{% endfor %}</table>
            <div class="inputs-list">
                <div class="input-block">
                    {% with fld=form.description %}
                        {% render_label fld class='sr-only' %}
                        {% render_field fld class+='inp-text' placeholder=fld.help_text %}
                    {% endwith %}
                </div>
            </div>
            <div class="inp-row justify">
                <button type="button" class="btn return">Zur Übersicht</button>
                <button type="submit" class="btn">ANFRAGE ABSENDEN</button>
            </div>
        </div>
    </form>
    {% addtoblock 'js' %}
        <script src="{% static 'js/profile.js' %}"></script>
        {{ form.media }}
    {% endaddtoblock %}
{% endblock %}
