{% extends 'catalog/base.html' %}

{% load staticfiles text_utils sekizai_tags %}

{% block page_header %}{% endblock %}


{% block content %}
    <main class="search {{ view.list_mode }}">
        <header>
            {% if form %}{% include 'catalog/.include/search_form.html' %}{% endif %}
            <div class="result">
                {% if view.list_mode == 'form_search' %}
                    {% if is_paginated %}{{ paginator.count }}{% else %}{{ object_list|length }}{% endif %} Bestatter in {{ form.query.value }} gefunden
                {% elif view.list_mode == 'char_search' %}
                    {% if is_paginated %}{{ paginator.count }}{% else %}{{ object_list|length }}{% endif %} Bestatter gefunden, die mit einem "{{ char }}" anfangen:
                {% elif view.list_mode == 'manager' %}
                    {% if is_paginated %}{{ paginator.count }}{% else %}{{ object_list|length }}{% endif %} Bestatter managed by {{ user.email }}
                {% endif %}
            </div>
        </header>
        {% if is_paginated %}{% include view.list_template_name with firms=page_obj.object_list %}
        {% else %}{% include view.list_template_name with firms=object_list %}{% endif %}
        {% if is_paginated and paginator.count > 10 %}
            {% include 'catalog/.include/pagination.html' with p_by=view.paginate_by curr_num=page_obj.number %}
        {% endif %}
    </main>
{% endblock %}

{% block base_footer %}
    {{ block.super }}
    {% addtoblock 'js' %}
        <script src="{% static 'js/smooth_scroll.min.js' %}"></script>
        <script src="{% static 'js/search_details.js' %}"></script>
    {% endaddtoblock %}
{% endblock %}
